<Type Name="Persistence" FullName="Microsoft.Azure.Management.RedisEnterprise.Models.Persistence">
  <TypeSignature Language="C#" Value="public class Persistence" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Persistence extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence" />
  <TypeSignature Language="VB.NET" Value="Public Class Persistence" />
  <TypeSignature Language="F#" Value="type Persistence = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Persistence settings
            </summary>
    <remarks>
            Persistence-related configuration for the RedisEnterprise database
            </remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Persistence ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Initializes a new instance of the Persistence class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Persistence (bool? aofEnabled = default, bool? rdbEnabled = default, string aofFrequency = default, string rdbFrequency = default);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(valuetype System.Nullable`1&lt;bool&gt; aofEnabled, valuetype System.Nullable`1&lt;bool&gt; rdbEnabled, string aofFrequency, string rdbFrequency) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.#ctor(System.Nullable{System.Boolean},System.Nullable{System.Boolean},System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (Optional aofEnabled As Nullable(Of Boolean) = Nothing, Optional rdbEnabled As Nullable(Of Boolean) = Nothing, Optional aofFrequency As String = Nothing, Optional rdbFrequency As String = Nothing)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Management.RedisEnterprise.Models.Persistence : Nullable&lt;bool&gt; * Nullable&lt;bool&gt; * string * string -&gt; Microsoft.Azure.Management.RedisEnterprise.Models.Persistence" Usage="new Microsoft.Azure.Management.RedisEnterprise.Models.Persistence (aofEnabled, rdbEnabled, aofFrequency, rdbFrequency)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="aofEnabled" Type="System.Nullable&lt;System.Boolean&gt;" />
        <Parameter Name="rdbEnabled" Type="System.Nullable&lt;System.Boolean&gt;" />
        <Parameter Name="aofFrequency" Type="System.String" />
        <Parameter Name="rdbFrequency" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="aofEnabled">Sets whether AOF is enabled.</param>
        <param name="rdbEnabled">Sets whether RDB is enabled.</param>
        <param name="aofFrequency">Sets the frequency at which data is
            written to disk. Possible values include: '1s', 'always'</param>
        <param name="rdbFrequency">Sets the frequency at which a snapshot
            of the database is created. Possible values include: '1h', '6h',
            '12h'</param>
        <summary>
            Initializes a new instance of the Persistence class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AofEnabled">
      <MemberSignature Language="C#" Value="public bool? AofEnabled { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; AofEnabled" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.AofEnabled" />
      <MemberSignature Language="VB.NET" Value="Public Property AofEnabled As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.AofEnabled : Nullable&lt;bool&gt; with get, set" Usage="Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.AofEnabled" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="aofEnabled")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="aofEnabled")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets sets whether AOF is enabled.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AofFrequency">
      <MemberSignature Language="C#" Value="public string AofFrequency { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string AofFrequency" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.AofFrequency" />
      <MemberSignature Language="VB.NET" Value="Public Property AofFrequency As String" />
      <MemberSignature Language="F#" Value="member this.AofFrequency : string with get, set" Usage="Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.AofFrequency" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="aofFrequency")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="aofFrequency")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets sets the frequency at which data is written to disk.
            Possible values include: '1s', 'always'
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RdbEnabled">
      <MemberSignature Language="C#" Value="public bool? RdbEnabled { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; RdbEnabled" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.RdbEnabled" />
      <MemberSignature Language="VB.NET" Value="Public Property RdbEnabled As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.RdbEnabled : Nullable&lt;bool&gt; with get, set" Usage="Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.RdbEnabled" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="rdbEnabled")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="rdbEnabled")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets sets whether RDB is enabled.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RdbFrequency">
      <MemberSignature Language="C#" Value="public string RdbFrequency { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string RdbFrequency" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.RdbFrequency" />
      <MemberSignature Language="VB.NET" Value="Public Property RdbFrequency As String" />
      <MemberSignature Language="F#" Value="member this.RdbFrequency : string with get, set" Usage="Microsoft.Azure.Management.RedisEnterprise.Models.Persistence.RdbFrequency" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.RedisEnterprise</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="rdbFrequency")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="rdbFrequency")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets sets the frequency at which a snapshot of the database
            is created. Possible values include: '1h', '6h', '12h'
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
