### YamlMime:ManagedReference
items:
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  commentId: T:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  id: FileSystemApplicationLogsConfig
  parent: Microsoft.Azure.Management.WebSites.Models
  children:
  - Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor
  - Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor(System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel})
  - Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
  langs:
  - csharp
  - vb
  name: FileSystemApplicationLogsConfig
  nameWithType: FileSystemApplicationLogsConfig
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  type: Class
  source:
    remote:
      path: src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
      commit: c575ec3380165f3988ddd6efb85d010882c4936e
    id: FileSystemApplicationLogsConfig
    path: src/azure-sdk-for-net/src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
    startLine: 21
  assemblies:
  - Microsoft.Azure.Management.Websites
  namespace: Microsoft.Azure.Management.WebSites.Models
  summary: "\nApplication logs to file system configuration\n"
  example: []
  syntax:
    content: public class FileSystemApplicationLogsConfig
    content.vb: Public Class FileSystemApplicationLogsConfig
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  modifiers.csharp:
  - public
  - class
  modifiers.vb:
  - Public
  - Class
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor
  commentId: M:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor
  id: '#ctor'
  parent: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  langs:
  - csharp
  - vb
  name: FileSystemApplicationLogsConfig()
  nameWithType: FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig()
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig()
  type: Constructor
  source:
    remote:
      path: src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
      commit: c575ec3380165f3988ddd6efb85d010882c4936e
    id: .ctor
    path: src/azure-sdk-for-net/src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
    startLine: 27
  assemblies:
  - Microsoft.Azure.Management.Websites
  namespace: Microsoft.Azure.Management.WebSites.Models
  summary: "\nInitializes a new instance of the FileSystemApplicationLogsConfig\nclass.\n"
  example: []
  syntax:
    content: public FileSystemApplicationLogsConfig()
    content.vb: Public Sub New
  overload: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor*
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor(System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel})
  commentId: M:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor(System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel})
  id: '#ctor(System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel})'
  parent: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  langs:
  - csharp
  - vb
  name: FileSystemApplicationLogsConfig(Nullable<LogLevel>)
  nameWithType: FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig(Nullable<LogLevel>)
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig(System.Nullable<Microsoft.Azure.Management.WebSites.Models.LogLevel>)
  type: Constructor
  source:
    remote:
      path: src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
      commit: c575ec3380165f3988ddd6efb85d010882c4936e
    id: .ctor
    path: src/azure-sdk-for-net/src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
    startLine: 33
  assemblies:
  - Microsoft.Azure.Management.Websites
  namespace: Microsoft.Azure.Management.WebSites.Models
  summary: "\nInitializes a new instance of the FileSystemApplicationLogsConfig\nclass.\n"
  example: []
  syntax:
    content: public FileSystemApplicationLogsConfig(LogLevel? level = null)
    content.vb: Public Sub New(level As LogLevel? = Nothing)
    parameters:
    - id: level
      type: System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel}
  overload: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor*
  nameWithType.vb: FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig(Nullable(Of LogLevel))
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
  fullName.vb: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig(System.Nullable(Of Microsoft.Azure.Management.WebSites.Models.LogLevel))
  name.vb: FileSystemApplicationLogsConfig(Nullable(Of LogLevel))
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
  commentId: P:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
  id: Level
  parent: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig
  langs:
  - csharp
  - vb
  name: Level
  nameWithType: FileSystemApplicationLogsConfig.Level
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
  type: Property
  source:
    remote:
      path: src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
      commit: c575ec3380165f3988ddd6efb85d010882c4936e
    id: Level
    path: src/azure-sdk-for-net/src/ResourceManagement/WebSite/Microsoft.Azure.Management.Websites/Generated/Models/FileSystemApplicationLogsConfig.cs
    startLine: 42
  assemblies:
  - Microsoft.Azure.Management.Websites
  namespace: Microsoft.Azure.Management.WebSites.Models
  summary: "\nLog level. Possible values include: 'Off', 'Verbose',\n'Information', 'Warning', 'Error'\n"
  example: []
  syntax:
    content: >-
      [JsonProperty(PropertyName = "level")]

      public LogLevel? Level { get; set; }
    content.vb: >-
      <JsonProperty(PropertyName:="level")>

      Public Property Level As LogLevel?
    parameters: []
    return:
      type: System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel}
  overload: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level*
  attributes:
  - type: Newtonsoft.Json.JsonPropertyAttribute
    ctor: Newtonsoft.Json.JsonPropertyAttribute.#ctor
    arguments: []
    namedArguments:
    - name: PropertyName
      type: System.String
      value: level
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
references:
- uid: Microsoft.Azure.Management.WebSites.Models
  commentId: N:Microsoft.Azure.Management.WebSites.Models
  isExternal: false
  name: Microsoft.Azure.Management.WebSites.Models
  nameWithType: Microsoft.Azure.Management.WebSites.Models
  fullName: Microsoft.Azure.Management.WebSites.Models
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: false
  name: System
  nameWithType: System
  fullName: System
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor*
  commentId: Overload:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.#ctor
  isExternal: false
  name: FileSystemApplicationLogsConfig
  nameWithType: FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.FileSystemApplicationLogsConfig
- uid: System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel}
  commentId: T:System.Nullable{Microsoft.Azure.Management.WebSites.Models.LogLevel}
  parent: System
  definition: System.Nullable`1
  name: Nullable<LogLevel>
  nameWithType: Nullable<LogLevel>
  fullName: System.Nullable<Microsoft.Azure.Management.WebSites.Models.LogLevel>
  nameWithType.vb: Nullable(Of LogLevel)
  fullname.vb: System.Nullable(Of Microsoft.Azure.Management.WebSites.Models.LogLevel)
  name.vb: Nullable(Of LogLevel)
  spec.csharp:
  - uid: System.Nullable`1
    name: Nullable
    nameWithType: Nullable
    fullName: System.Nullable
    isExternal: true
  - name: <
    nameWithType: <
    fullName: <
  - uid: Microsoft.Azure.Management.WebSites.Models.LogLevel
    name: LogLevel
    nameWithType: LogLevel
    fullName: Microsoft.Azure.Management.WebSites.Models.LogLevel
  - name: '>'
    nameWithType: '>'
    fullName: '>'
  spec.vb:
  - uid: System.Nullable`1
    name: Nullable
    nameWithType: Nullable
    fullName: System.Nullable
    isExternal: true
  - name: '(Of '
    nameWithType: '(Of '
    fullName: '(Of '
  - uid: Microsoft.Azure.Management.WebSites.Models.LogLevel
    name: LogLevel
    nameWithType: LogLevel
    fullName: Microsoft.Azure.Management.WebSites.Models.LogLevel
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Nullable`1
  commentId: T:System.Nullable`1
  isExternal: true
  name: Nullable<T>
  nameWithType: Nullable<T>
  fullName: System.Nullable<T>
  nameWithType.vb: Nullable(Of T)
  fullname.vb: System.Nullable(Of T)
  name.vb: Nullable(Of T)
  spec.csharp:
  - uid: System.Nullable`1
    name: Nullable
    nameWithType: Nullable
    fullName: System.Nullable
    isExternal: true
  - name: <
    nameWithType: <
    fullName: <
  - name: T
    nameWithType: T
    fullName: T
  - name: '>'
    nameWithType: '>'
    fullName: '>'
  spec.vb:
  - uid: System.Nullable`1
    name: Nullable
    nameWithType: Nullable
    fullName: System.Nullable
    isExternal: true
  - name: '(Of '
    nameWithType: '(Of '
    fullName: '(Of '
  - name: T
    nameWithType: T
    fullName: T
  - name: )
    nameWithType: )
    fullName: )
- uid: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level*
  commentId: Overload:Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
  isExternal: false
  name: Level
  nameWithType: FileSystemApplicationLogsConfig.Level
  fullName: Microsoft.Azure.Management.WebSites.Models.FileSystemApplicationLogsConfig.Level
