<Type Name="Acl" FullName="Microsoft.Azure.Management.StoragePool.Models.Acl">
  <TypeSignature Language="C#" Value="public class Acl" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Acl extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Management.StoragePool.Models.Acl" />
  <TypeSignature Language="VB.NET" Value="Public Class Acl" />
  <TypeSignature Language="F#" Value="type Acl = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Management.StoragePool</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Access Control List (ACL) for an iSCSI Target; defines LUN masking
            policy
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Acl ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.StoragePool.Models.Acl.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.StoragePool</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Initializes a new instance of the Acl class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Acl (string initiatorIqn, System.Collections.Generic.IList&lt;string&gt; mappedLuns);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string initiatorIqn, class System.Collections.Generic.IList`1&lt;string&gt; mappedLuns) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.StoragePool.Models.Acl.#ctor(System.String,System.Collections.Generic.IList{System.String})" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (initiatorIqn As String, mappedLuns As IList(Of String))" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Management.StoragePool.Models.Acl : string * System.Collections.Generic.IList&lt;string&gt; -&gt; Microsoft.Azure.Management.StoragePool.Models.Acl" Usage="new Microsoft.Azure.Management.StoragePool.Models.Acl (initiatorIqn, mappedLuns)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.StoragePool</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="initiatorIqn" Type="System.String" />
        <Parameter Name="mappedLuns" Type="System.Collections.Generic.IList&lt;System.String&gt;" />
      </Parameters>
      <Docs>
        <param name="initiatorIqn">iSCSI initiator IQN (iSCSI Qualified
            Name); example: "iqn.2005-03.org.iscsi:client".</param>
        <param name="mappedLuns">List of LUN names mapped to the
            ACL.</param>
        <summary>
            Initializes a new instance of the Acl class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="InitiatorIqn">
      <MemberSignature Language="C#" Value="public string InitiatorIqn { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string InitiatorIqn" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.StoragePool.Models.Acl.InitiatorIqn" />
      <MemberSignature Language="VB.NET" Value="Public Property InitiatorIqn As String" />
      <MemberSignature Language="F#" Value="member this.InitiatorIqn : string with get, set" Usage="Microsoft.Azure.Management.StoragePool.Models.Acl.InitiatorIqn" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.StoragePool</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="initiatorIqn")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="initiatorIqn")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets iSCSI initiator IQN (iSCSI Qualified Name); example:
            "iqn.2005-03.org.iscsi:client".
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MappedLuns">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IList&lt;string&gt; MappedLuns { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IList`1&lt;string&gt; MappedLuns" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.StoragePool.Models.Acl.MappedLuns" />
      <MemberSignature Language="VB.NET" Value="Public Property MappedLuns As IList(Of String)" />
      <MemberSignature Language="F#" Value="member this.MappedLuns : System.Collections.Generic.IList&lt;string&gt; with get, set" Usage="Microsoft.Azure.Management.StoragePool.Models.Acl.MappedLuns" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.StoragePool</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="mappedLuns")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="mappedLuns")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IList&lt;System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets list of LUN names mapped to the ACL.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
