<Type Name="Persistence" FullName="Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence">
  <TypeSignature Language="C#" Value="public class Persistence" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Persistence extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence" />
  <TypeSignature Language="VB.NET" Value="Public Class Persistence" />
  <TypeSignature Language="F#" Value="type Persistence = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary> Persistence-related configuration for the RedisEnterprise database. </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Persistence ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of Persistence. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AofEnabled">
      <MemberSignature Language="C#" Value="public bool? AofEnabled { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; AofEnabled" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.AofEnabled" />
      <MemberSignature Language="VB.NET" Value="Public Property AofEnabled As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.AofEnabled : Nullable&lt;bool&gt; with get, set" Usage="Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.AofEnabled" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Sets whether AOF is enabled. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AofFrequency">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.RedisEnterpriseCache.Models.AofFrequency? AofFrequency { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Azure.ResourceManager.RedisEnterpriseCache.Models.AofFrequency&gt; AofFrequency" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.AofFrequency" />
      <MemberSignature Language="VB.NET" Value="Public Property AofFrequency As Nullable(Of AofFrequency)" />
      <MemberSignature Language="F#" Value="member this.AofFrequency : Nullable&lt;Azure.ResourceManager.RedisEnterpriseCache.Models.AofFrequency&gt; with get, set" Usage="Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.AofFrequency" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Azure.ResourceManager.RedisEnterpriseCache.Models.AofFrequency&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Sets the frequency at which data is written to disk. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RdbEnabled">
      <MemberSignature Language="C#" Value="public bool? RdbEnabled { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; RdbEnabled" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.RdbEnabled" />
      <MemberSignature Language="VB.NET" Value="Public Property RdbEnabled As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.RdbEnabled : Nullable&lt;bool&gt; with get, set" Usage="Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.RdbEnabled" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Sets whether RDB is enabled. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RdbFrequency">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.RedisEnterpriseCache.Models.RdbFrequency? RdbFrequency { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Azure.ResourceManager.RedisEnterpriseCache.Models.RdbFrequency&gt; RdbFrequency" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.RdbFrequency" />
      <MemberSignature Language="VB.NET" Value="Public Property RdbFrequency As Nullable(Of RdbFrequency)" />
      <MemberSignature Language="F#" Value="member this.RdbFrequency : Nullable&lt;Azure.ResourceManager.RedisEnterpriseCache.Models.RdbFrequency&gt; with get, set" Usage="Azure.ResourceManager.RedisEnterpriseCache.Models.Persistence.RdbFrequency" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.RedisEnterpriseCache</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Azure.ResourceManager.RedisEnterpriseCache.Models.RdbFrequency&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary> Sets the frequency at which a snapshot of the database is created. </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
