<Type Name="SpringBootAppApplicationConfigurationsItem" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem">
  <TypeSignature Language="C#" Value="public class SpringBootAppApplicationConfigurationsItem" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootAppApplicationConfigurationsItem extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootAppApplicationConfigurationsItem" />
  <TypeSignature Language="F#" Value="type SpringBootAppApplicationConfigurationsItem = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The SpringBootAppApplicationConfigurationsItem.
            Serialized Name: SpringbootappsPropertiesApplicationConfigurationsItem
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootAppApplicationConfigurationsItem (string key);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string key) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem.#ctor(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (key As String)" />
      <MemberSignature Language="F#" Value="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem : string -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem" Usage="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem key" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="key" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="key">
            The application config file name.
            Serialized Name: SpringbootappsPropertiesApplicationConfigurationsItem.key
            </param>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem" />. </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="key" /> is null. </exception>
      </Docs>
    </Member>
    <Member MemberName="Key">
      <MemberSignature Language="C#" Value="public string Key { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Key" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem.Key" />
      <MemberSignature Language="VB.NET" Value="Public Property Key As String" />
      <MemberSignature Language="F#" Value="member this.Key : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem.Key" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The application config file name.
            Serialized Name: SpringbootappsPropertiesApplicationConfigurationsItem.key
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Value">
      <MemberSignature Language="C#" Value="public string Value { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Value" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem.Value" />
      <MemberSignature Language="VB.NET" Value="Public Property Value As String" />
      <MemberSignature Language="F#" Value="member this.Value : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppApplicationConfigurationsItem.Value" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The application config file content, only contains config keys.
            Serialized Name: SpringbootappsPropertiesApplicationConfigurationsItem.value
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
