<Type Name="SpringBootSiteError" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError">
  <TypeSignature Language="C#" Value="public class SpringBootSiteError" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootSiteError extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootSiteError" />
  <TypeSignature Language="F#" Value="type SpringBootSiteError = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            Defines the error.
            Serialized Name: Error
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootSiteError ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Code">
      <MemberSignature Language="C#" Value="public string Code { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Code" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Code" />
      <MemberSignature Language="VB.NET" Value="Public Property Code As String" />
      <MemberSignature Language="F#" Value="member this.Code : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Code" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The error code.
            Serialized Name: Error.code
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Id">
      <MemberSignature Language="C#" Value="public long? Id { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int64&gt; Id" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Id" />
      <MemberSignature Language="VB.NET" Value="Public Property Id As Nullable(Of Long)" />
      <MemberSignature Language="F#" Value="member this.Id : Nullable&lt;int64&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Id" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int64&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The error ID.
            Serialized Name: Error.id
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Message">
      <MemberSignature Language="C#" Value="public string Message { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Message" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Message" />
      <MemberSignature Language="VB.NET" Value="Public Property Message As String" />
      <MemberSignature Language="F#" Value="member this.Message : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Message" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The detailed error message.
            Serialized Name: Error.message
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="PossibleCauses">
      <MemberSignature Language="C#" Value="public string PossibleCauses { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string PossibleCauses" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.PossibleCauses" />
      <MemberSignature Language="VB.NET" Value="Public Property PossibleCauses As String" />
      <MemberSignature Language="F#" Value="member this.PossibleCauses : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.PossibleCauses" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The error possible causes.
            Serialized Name: Error.possibleCauses
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RecommendedAction">
      <MemberSignature Language="C#" Value="public string RecommendedAction { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string RecommendedAction" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.RecommendedAction" />
      <MemberSignature Language="VB.NET" Value="Public Property RecommendedAction As String" />
      <MemberSignature Language="F#" Value="member this.RecommendedAction : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.RecommendedAction" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The error recommended action
            Serialized Name: Error.recommendedAction
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RunAsAccountId">
      <MemberSignature Language="C#" Value="public string RunAsAccountId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string RunAsAccountId" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.RunAsAccountId" />
      <MemberSignature Language="VB.NET" Value="Public Property RunAsAccountId As String" />
      <MemberSignature Language="F#" Value="member this.RunAsAccountId : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.RunAsAccountId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The account ID used to login.
            Serialized Name: Error.runAsAccountId
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Severity">
      <MemberSignature Language="C#" Value="public string Severity { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Severity" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Severity" />
      <MemberSignature Language="VB.NET" Value="Public Property Severity As String" />
      <MemberSignature Language="F#" Value="member this.Severity : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.Severity" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The error severity
            Serialized Name: Error.severity
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SummaryMessage">
      <MemberSignature Language="C#" Value="public string SummaryMessage { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string SummaryMessage" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.SummaryMessage" />
      <MemberSignature Language="VB.NET" Value="Public Property SummaryMessage As String" />
      <MemberSignature Language="F#" Value="member this.SummaryMessage : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.SummaryMessage" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The summarized error message.
            Serialized Name: Error.summaryMessage
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="UpdatedTimeStamp">
      <MemberSignature Language="C#" Value="public DateTimeOffset? UpdatedTimeStamp { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype System.DateTimeOffset&gt; UpdatedTimeStamp" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.UpdatedTimeStamp" />
      <MemberSignature Language="VB.NET" Value="Public Property UpdatedTimeStamp As Nullable(Of DateTimeOffset)" />
      <MemberSignature Language="F#" Value="member this.UpdatedTimeStamp : Nullable&lt;DateTimeOffset&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError.UpdatedTimeStamp" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.DateTimeOffset&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Time when this error was last updated.
            Serialized Name: Error.updatedTimeStamp
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
