<Type Name="SpringBootSiteProperties" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties">
  <TypeSignature Language="C#" Value="public class SpringBootSiteProperties" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootSiteProperties extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootSiteProperties" />
  <TypeSignature Language="F#" Value="type SpringBootSiteProperties = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The springbootsites resource definition.
            Serialized Name: SpringbootsitesProperties
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootSiteProperties ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MasterSiteId">
      <MemberSignature Language="C#" Value="public string MasterSiteId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string MasterSiteId" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.MasterSiteId" />
      <MemberSignature Language="VB.NET" Value="Public Property MasterSiteId As String" />
      <MemberSignature Language="F#" Value="member this.MasterSiteId : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.MasterSiteId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The master site ID from Azure Migrate.
            Serialized Name: SpringbootsitesProperties.masterSiteId
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MigrateProjectId">
      <MemberSignature Language="C#" Value="public string MigrateProjectId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string MigrateProjectId" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.MigrateProjectId" />
      <MemberSignature Language="VB.NET" Value="Public Property MigrateProjectId As String" />
      <MemberSignature Language="F#" Value="member this.MigrateProjectId : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.MigrateProjectId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The migrate project ID from Azure Migrate.
            Serialized Name: SpringbootsitesProperties.migrateProjectId
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ProvisioningState">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState? ProvisioningState { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt; ProvisioningState" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.ProvisioningState" />
      <MemberSignature Language="VB.NET" Value="Public Property ProvisioningState As Nullable(Of SpringAppDiscoveryProvisioningState)" />
      <MemberSignature Language="F#" Value="member this.ProvisioningState : Nullable&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteProperties.ProvisioningState" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The resource provisioning state.
            Serialized Name: SpringbootsitesProperties.provisioningState
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
