<Type Name="SpringBootSiteModelExtendedLocation" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation">
  <TypeSignature Language="C#" Value="public class SpringBootSiteModelExtendedLocation" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootSiteModelExtendedLocation extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootSiteModelExtendedLocation" />
  <TypeSignature Language="F#" Value="type SpringBootSiteModelExtendedLocation = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The extended location definition.
            Serialized Name: SpringbootsitesModelExtendedLocation
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootSiteModelExtendedLocation ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Name">
      <MemberSignature Language="C#" Value="public string Name { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Name" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.Name" />
      <MemberSignature Language="VB.NET" Value="Public Property Name As String" />
      <MemberSignature Language="F#" Value="member this.Name : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.Name" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The extended location name.
            Serialized Name: SpringbootsitesModelExtendedLocation.name
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SpringbootsitesModelExtendedLocationType">
      <MemberSignature Language="C#" Value="public string SpringbootsitesModelExtendedLocationType { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string SpringbootsitesModelExtendedLocationType" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.SpringbootsitesModelExtendedLocationType" />
      <MemberSignature Language="VB.NET" Value="Public Property SpringbootsitesModelExtendedLocationType As String" />
      <MemberSignature Language="F#" Value="member this.SpringbootsitesModelExtendedLocationType : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.SpringbootsitesModelExtendedLocationType" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The extended location type.
            Serialized Name: SpringbootsitesModelExtendedLocation.type
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
