<Type Name="SpringBootServerProperties" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties">
  <TypeSignature Language="C#" Value="public class SpringBootServerProperties" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootServerProperties extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootServerProperties" />
  <TypeSignature Language="F#" Value="type SpringBootServerProperties = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The springbootservers resource definition.
            Serialized Name: SpringbootserversProperties
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootServerProperties (string server);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string server) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.#ctor(System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (server As String)" />
      <MemberSignature Language="F#" Value="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties : string -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties" Usage="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties server" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="server" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="server">
            Server is the target server name or ip address to discover of SpringBootServer.
            Serialized Name: SpringbootserversProperties.server
            </param>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties" />. </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="server" /> is null. </exception>
      </Docs>
    </Member>
    <Member MemberName="Errors">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IList&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError&gt; Errors { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IList`1&lt;class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError&gt; Errors" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Errors" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Errors As IList(Of SpringBootSiteError)" />
      <MemberSignature Language="F#" Value="member this.Errors : System.Collections.Generic.IList&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError&gt;" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Errors" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IList&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteError&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The list of errors.
            Serialized Name: SpringbootserversProperties.errors
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FqdnAndIPAddressList">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IList&lt;System.Net.IPAddress&gt; FqdnAndIPAddressList { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IList`1&lt;class System.Net.IPAddress&gt; FqdnAndIPAddressList" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.FqdnAndIPAddressList" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property FqdnAndIPAddressList As IList(Of IPAddress)" />
      <MemberSignature Language="F#" Value="member this.FqdnAndIPAddressList : System.Collections.Generic.IList&lt;System.Net.IPAddress&gt;" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.FqdnAndIPAddressList" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IList&lt;System.Net.IPAddress&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The alternative FQDN or IP addresses to discover for this server
            Serialized Name: SpringbootserversProperties.fqdnAndIpAddressList
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MachineArmId">
      <MemberSignature Language="C#" Value="public Azure.Core.ResourceIdentifier MachineArmId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Core.ResourceIdentifier MachineArmId" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.MachineArmId" />
      <MemberSignature Language="VB.NET" Value="Public Property MachineArmId As ResourceIdentifier" />
      <MemberSignature Language="F#" Value="member this.MachineArmId : Azure.Core.ResourceIdentifier with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.MachineArmId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Core.ResourceIdentifier</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The machine Id from ARM
            Serialized Name: SpringbootserversProperties.machineArmId
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Port">
      <MemberSignature Language="C#" Value="public int? Port { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; Port" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Port" />
      <MemberSignature Language="VB.NET" Value="Public Property Port As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.Port : Nullable&lt;int&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Port" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Target server port for remote login
            Serialized Name: SpringbootserversProperties.port
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ProvisioningState">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState? ProvisioningState { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt; ProvisioningState" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.ProvisioningState" />
      <MemberSignature Language="VB.NET" Value="Public Property ProvisioningState As Nullable(Of SpringAppDiscoveryProvisioningState)" />
      <MemberSignature Language="F#" Value="member this.ProvisioningState : Nullable&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.ProvisioningState" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringAppDiscoveryProvisioningState&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The resource provisioning state.
            Serialized Name: SpringbootserversProperties.provisioningState
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Server">
      <MemberSignature Language="C#" Value="public string Server { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Server" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Server" />
      <MemberSignature Language="VB.NET" Value="Public Property Server As String" />
      <MemberSignature Language="F#" Value="member this.Server : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.Server" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Server is the target server name or ip address to discover of SpringBootServer.
            Serialized Name: SpringbootserversProperties.server
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SpringBootApps">
      <MemberSignature Language="C#" Value="public int? SpringBootApps { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; SpringBootApps" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.SpringBootApps" />
      <MemberSignature Language="VB.NET" Value="Public Property SpringBootApps As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.SpringBootApps : Nullable&lt;int&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.SpringBootApps" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The total number of spring boot apps been discovered
            Serialized Name: SpringbootserversProperties.springBootApps
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TotalApps">
      <MemberSignature Language="C#" Value="public int? TotalApps { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; TotalApps" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.TotalApps" />
      <MemberSignature Language="VB.NET" Value="Public Property TotalApps As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.TotalApps : Nullable&lt;int&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties.TotalApps" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The total number of apps been discovered
            Serialized Name: SpringbootserversProperties.totalApps
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
