<Type Name="SpringBootSiteModelExtendedLocation" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation">
  <TypeSignature Language="C#" Value="public class SpringBootSiteModelExtendedLocation : System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;, System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootSiteModelExtendedLocation extends System.Object implements class System.ClientModel.Primitives.IJsonModel`1&lt;class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;, class System.ClientModel.Primitives.IPersistableModel`1&lt;class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootSiteModelExtendedLocation&#xA;Implements IJsonModel(Of SpringBootSiteModelExtendedLocation), IPersistableModel(Of SpringBootSiteModelExtendedLocation)" />
  <TypeSignature Language="F#" Value="type SpringBootSiteModelExtendedLocation = class&#xA;    interface IJsonModel&lt;SpringBootSiteModelExtendedLocation&gt;&#xA;    interface IPersistableModel&lt;SpringBootSiteModelExtendedLocation&gt;" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>System.ClientModel.Primitives.IPersistableModel&lt;T&gt;</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            The extended location definition.
            Serialized Name: SpringbootsitesModelExtendedLocation
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootSiteModelExtendedLocation ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Name">
      <MemberSignature Language="C#" Value="public string Name { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Name" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.Name" />
      <MemberSignature Language="VB.NET" Value="Public Property Name As String" />
      <MemberSignature Language="F#" Value="member this.Name : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.Name" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The extended location name.
            Serialized Name: SpringbootsitesModelExtendedLocation.name
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SpringbootsitesModelExtendedLocationType">
      <MemberSignature Language="C#" Value="public string SpringbootsitesModelExtendedLocationType { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string SpringbootsitesModelExtendedLocationType" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.SpringbootsitesModelExtendedLocationType" />
      <MemberSignature Language="VB.NET" Value="Public Property SpringbootsitesModelExtendedLocationType As String" />
      <MemberSignature Language="F#" Value="member this.SpringbootsitesModelExtendedLocationType : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.SpringbootsitesModelExtendedLocationType" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The extended location type.
            Serialized Name: SpringbootsitesModelExtendedLocation.type
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create">
      <MemberSignature Language="C#" Value="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation IJsonModel&lt;SpringBootSiteModelExtendedLocation&gt;.Create (ref System.Text.Json.Utf8JsonReader reader, System.ClientModel.Primitives.ModelReaderWriterOptions options);" />
      <MemberSignature Language="ILAsm" Value=".method hidebysig newslot virtual instance class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create(valuetype System.Text.Json.Utf8JsonReader&amp; reader, class System.ClientModel.Primitives.ModelReaderWriterOptions options) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.System#ClientModel#Primitives#IJsonModel&lt;Azure#ResourceManager#SpringAppDiscovery#Models#SpringBootSiteModelExtendedLocation&gt;#Create(System.Text.Json.Utf8JsonReader@,System.ClientModel.Primitives.ModelReaderWriterOptions)" />
      <MemberSignature Language="VB.NET" Value="Function Create (ByRef reader As Utf8JsonReader, options As ModelReaderWriterOptions) As SpringBootSiteModelExtendedLocation Implements IJsonModel(Of SpringBootSiteModelExtendedLocation).Create" />
      <MemberSignature Language="F#" Value="abstract member System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create : Utf8JsonReader * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&#xA;override this.System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create : Utf8JsonReader * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" Usage="springBootSiteModelExtendedLocation.System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create (reader, options)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:System.ClientModel.Primitives.IJsonModel`1.Create(System.Text.Json.Utf8JsonReader@,System.ClientModel.Primitives.ModelReaderWriterOptions)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="reader" Type="System.Text.Json.Utf8JsonReader" RefType="ref" />
        <Parameter Name="options" Type="System.ClientModel.Primitives.ModelReaderWriterOptions" />
      </Parameters>
      <Docs>
        <param name="reader">The <see cref="T:System.Text.Json.Utf8JsonReader" /> to read.</param>
        <param name="options">The <see cref="T:System.ClientModel.Primitives.ModelReaderWriterOptions" /> to use.</param>
        <summary>
            Reads one JSON value (including objects or arrays) from the provided reader and converts it to a model.
            </summary>
        <returns>A <typeparamref name="T" /> representation of the JSON value.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:System.FormatException">If the model does not support the requested <see cref="P:System.ClientModel.Primitives.ModelReaderWriterOptions.Format" />.</exception>
      </Docs>
    </Member>
    <Member MemberName="System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write">
      <MemberSignature Language="C#" Value="void IJsonModel&lt;SpringBootSiteModelExtendedLocation&gt;.Write (System.Text.Json.Utf8JsonWriter writer, System.ClientModel.Primitives.ModelReaderWriterOptions options);" />
      <MemberSignature Language="ILAsm" Value=".method hidebysig newslot virtual instance void System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write(class System.Text.Json.Utf8JsonWriter writer, class System.ClientModel.Primitives.ModelReaderWriterOptions options) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.System#ClientModel#Primitives#IJsonModel&lt;Azure#ResourceManager#SpringAppDiscovery#Models#SpringBootSiteModelExtendedLocation&gt;#Write(System.Text.Json.Utf8JsonWriter,System.ClientModel.Primitives.ModelReaderWriterOptions)" />
      <MemberSignature Language="VB.NET" Value="Sub Write (writer As Utf8JsonWriter, options As ModelReaderWriterOptions) Implements IJsonModel(Of SpringBootSiteModelExtendedLocation).Write" />
      <MemberSignature Language="F#" Value="abstract member System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write : System.Text.Json.Utf8JsonWriter * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; unit&#xA;override this.System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write : System.Text.Json.Utf8JsonWriter * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; unit" Usage="springBootSiteModelExtendedLocation.System.ClientModel.Primitives.IJsonModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write (writer, options)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:System.ClientModel.Primitives.IJsonModel`1.Write(System.Text.Json.Utf8JsonWriter,System.ClientModel.Primitives.ModelReaderWriterOptions)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="writer" Type="System.Text.Json.Utf8JsonWriter" />
        <Parameter Name="options" Type="System.ClientModel.Primitives.ModelReaderWriterOptions" />
      </Parameters>
      <Docs>
        <param name="writer">The <see cref="T:System.Text.Json.Utf8JsonWriter" /> to write into.</param>
        <param name="options">The <see cref="T:System.ClientModel.Primitives.ModelReaderWriterOptions" /> to use.</param>
        <summary>
            Writes the model to the provided <see cref="T:System.Text.Json.Utf8JsonWriter" />.
            </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.FormatException">If the model does not support the requested <see cref="P:System.ClientModel.Primitives.ModelReaderWriterOptions.Format" />.</exception>
      </Docs>
    </Member>
    <Member MemberName="System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create">
      <MemberSignature Language="C#" Value="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation IPersistableModel&lt;SpringBootSiteModelExtendedLocation&gt;.Create (BinaryData data, System.ClientModel.Primitives.ModelReaderWriterOptions options);" />
      <MemberSignature Language="ILAsm" Value=".method hidebysig newslot virtual instance class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create(class System.BinaryData data, class System.ClientModel.Primitives.ModelReaderWriterOptions options) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.System#ClientModel#Primitives#IPersistableModel&lt;Azure#ResourceManager#SpringAppDiscovery#Models#SpringBootSiteModelExtendedLocation&gt;#Create(System.BinaryData,System.ClientModel.Primitives.ModelReaderWriterOptions)" />
      <MemberSignature Language="VB.NET" Value="Function Create (data As BinaryData, options As ModelReaderWriterOptions) As SpringBootSiteModelExtendedLocation Implements IPersistableModel(Of SpringBootSiteModelExtendedLocation).Create" />
      <MemberSignature Language="F#" Value="abstract member System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create : BinaryData * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&#xA;override this.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create : BinaryData * System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation" Usage="springBootSiteModelExtendedLocation.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Create (data, options)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:System.ClientModel.Primitives.IPersistableModel`1.Create(System.BinaryData,System.ClientModel.Primitives.ModelReaderWriterOptions)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="data" Type="System.BinaryData" />
        <Parameter Name="options" Type="System.ClientModel.Primitives.ModelReaderWriterOptions" />
      </Parameters>
      <Docs>
        <param name="data">The <see cref="T:System.BinaryData" /> to parse.</param>
        <param name="options">The <see cref="T:System.ClientModel.Primitives.ModelReaderWriterOptions" /> to use.</param>
        <summary>
            Converts the provided <see cref="T:System.BinaryData" /> into a model.
            </summary>
        <returns>A <typeparamref name="T" /> representation of the data.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:System.FormatException">If the model does not support the requested <see cref="P:System.ClientModel.Primitives.ModelReaderWriterOptions.Format" />.</exception>
      </Docs>
    </Member>
    <Member MemberName="System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions">
      <MemberSignature Language="C#" Value="string IPersistableModel&lt;SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions (System.ClientModel.Primitives.ModelReaderWriterOptions options);" />
      <MemberSignature Language="ILAsm" Value=".method hidebysig newslot virtual instance string System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions(class System.ClientModel.Primitives.ModelReaderWriterOptions options) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.System#ClientModel#Primitives#IPersistableModel&lt;Azure#ResourceManager#SpringAppDiscovery#Models#SpringBootSiteModelExtendedLocation&gt;#GetFormatFromOptions(System.ClientModel.Primitives.ModelReaderWriterOptions)" />
      <MemberSignature Language="VB.NET" Value="Function GetFormatFromOptions (options As ModelReaderWriterOptions) As String Implements IPersistableModel(Of SpringBootSiteModelExtendedLocation).GetFormatFromOptions" />
      <MemberSignature Language="F#" Value="abstract member System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions : System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; string&#xA;override this.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions : System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; string" Usage="springBootSiteModelExtendedLocation.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.GetFormatFromOptions options" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:System.ClientModel.Primitives.IPersistableModel`1.GetFormatFromOptions(System.ClientModel.Primitives.ModelReaderWriterOptions)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="options" Type="System.ClientModel.Primitives.ModelReaderWriterOptions" />
      </Parameters>
      <Docs>
        <param name="options">To be added.</param>
        <summary>
            Gets the data interchange format (JSON, Xml, etc) that the model uses when communicating with the service.
            <param name="options">The <see cref="T:System.ClientModel.Primitives.ModelReaderWriterOptions" /> to use.</param></summary>
        <returns>The format that the model uses when communicating with the serivce.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write">
      <MemberSignature Language="C#" Value="BinaryData IPersistableModel&lt;SpringBootSiteModelExtendedLocation&gt;.Write (System.ClientModel.Primitives.ModelReaderWriterOptions options);" />
      <MemberSignature Language="ILAsm" Value=".method hidebysig newslot virtual instance class System.BinaryData System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write(class System.ClientModel.Primitives.ModelReaderWriterOptions options) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation.System#ClientModel#Primitives#IPersistableModel&lt;Azure#ResourceManager#SpringAppDiscovery#Models#SpringBootSiteModelExtendedLocation&gt;#Write(System.ClientModel.Primitives.ModelReaderWriterOptions)" />
      <MemberSignature Language="VB.NET" Value="Function Write (options As ModelReaderWriterOptions) As BinaryData Implements IPersistableModel(Of SpringBootSiteModelExtendedLocation).Write" />
      <MemberSignature Language="F#" Value="abstract member System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write : System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; BinaryData&#xA;override this.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write : System.ClientModel.Primitives.ModelReaderWriterOptions -&gt; BinaryData" Usage="springBootSiteModelExtendedLocation.System.ClientModel.Primitives.IPersistableModel&lt;Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteModelExtendedLocation&gt;.Write options" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:System.ClientModel.Primitives.IPersistableModel`1.Write(System.ClientModel.Primitives.ModelReaderWriterOptions)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.BinaryData</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="options" Type="System.ClientModel.Primitives.ModelReaderWriterOptions" />
      </Parameters>
      <Docs>
        <param name="options">The <see cref="T:System.ClientModel.Primitives.ModelReaderWriterOptions" /> to use.</param>
        <summary>
            Writes the model into a <see cref="T:System.BinaryData" />.
            </summary>
        <returns>A binary representation of the written model.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:System.FormatException">If the model does not support the requested <see cref="P:System.ClientModel.Primitives.ModelReaderWriterOptions.Format" />.</exception>
      </Docs>
    </Member>
  </Members>
</Type>
