<Type Name="SpringBootServerPatch" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch">
  <TypeSignature Language="C#" Value="public class SpringBootServerPatch : Azure.ResourceManager.Models.ResourceData" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootServerPatch extends Azure.ResourceManager.Models.ResourceData" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootServerPatch&#xA;Inherits ResourceData" />
  <TypeSignature Language="F#" Value="type SpringBootServerPatch = class&#xA;    inherit ResourceData" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Azure.ResourceManager.Models.ResourceData</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The springbootservers resource patch definition.
            Serialized Name: SpringbootserversPatch
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootServerPatch ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Properties">
      <MemberSignature Language="C#" Value="public Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties Properties { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties Properties" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch.Properties" />
      <MemberSignature Language="VB.NET" Value="Public Property Properties As SpringBootServerProperties" />
      <MemberSignature Language="F#" Value="member this.Properties : Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch.Properties" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerProperties</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The springbootsites resource definition.
            Serialized Name: SpringbootserversPatch.properties
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Tags">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IDictionary&lt;string,string&gt; Tags { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class System.Collections.Generic.IDictionary`2&lt;string, string&gt; Tags" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch.Tags" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Tags As IDictionary(Of String, String)" />
      <MemberSignature Language="F#" Value="member this.Tags : System.Collections.Generic.IDictionary&lt;string, string&gt;" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootServerPatch.Tags" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IDictionary&lt;System.String,System.String&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Resource tags
            Serialized Name: SpringbootserversPatch.tags
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
