<Type Name="SpringBootAppInstancesItem" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem">
  <TypeSignature Language="C#" Value="public class SpringBootAppInstancesItem" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootAppInstancesItem extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootAppInstancesItem" />
  <TypeSignature Language="F#" Value="type SpringBootAppInstancesItem = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            The SpringBootAppInstancesItem.
            Serialized Name: SpringbootappsPropertiesInstancesItem
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootAppInstancesItem (Azure.Core.ResourceIdentifier machineArmId);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Azure.Core.ResourceIdentifier machineArmId) cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.#ctor(Azure.Core.ResourceIdentifier)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (machineArmId As ResourceIdentifier)" />
      <MemberSignature Language="F#" Value="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem : Azure.Core.ResourceIdentifier -&gt; Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem" Usage="new Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem machineArmId" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="machineArmId" Type="Azure.Core.ResourceIdentifier" />
      </Parameters>
      <Docs>
        <param name="machineArmId">
            The machine ARM resource Id of this app instance
            Serialized Name: SpringbootappsPropertiesInstancesItem.machineArmId
            </param>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem" />. </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
          <paramref name="machineArmId" /> is null. </exception>
      </Docs>
    </Member>
    <Member MemberName="InstanceCount">
      <MemberSignature Language="C#" Value="public int? InstanceCount { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; InstanceCount" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.InstanceCount" />
      <MemberSignature Language="VB.NET" Value="Public Property InstanceCount As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.InstanceCount : Nullable&lt;int&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.InstanceCount" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The instance count of this app instance
            Serialized Name: SpringbootappsPropertiesInstancesItem.instanceCount
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="JvmMemoryInMB">
      <MemberSignature Language="C#" Value="public int? JvmMemoryInMB { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; JvmMemoryInMB" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.JvmMemoryInMB" />
      <MemberSignature Language="VB.NET" Value="Public Property JvmMemoryInMB As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.JvmMemoryInMB : Nullable&lt;int&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.JvmMemoryInMB" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The jvm heap memory allocated of this app instance
            Serialized Name: SpringbootappsPropertiesInstancesItem.jvmMemoryInMB
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MachineArmId">
      <MemberSignature Language="C#" Value="public Azure.Core.ResourceIdentifier MachineArmId { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Azure.Core.ResourceIdentifier MachineArmId" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.MachineArmId" />
      <MemberSignature Language="VB.NET" Value="Public Property MachineArmId As ResourceIdentifier" />
      <MemberSignature Language="F#" Value="member this.MachineArmId : Azure.Core.ResourceIdentifier with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootAppInstancesItem.MachineArmId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Azure.Core.ResourceIdentifier</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The machine ARM resource Id of this app instance
            Serialized Name: SpringbootappsPropertiesInstancesItem.machineArmId
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
