<Type Name="SpringBootSiteErrorSummaryModel" FullName="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel">
  <TypeSignature Language="C#" Value="public class SpringBootSiteErrorSummaryModel" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit SpringBootSiteErrorSummaryModel extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel" />
  <TypeSignature Language="VB.NET" Value="Public Class SpringBootSiteErrorSummaryModel" />
  <TypeSignature Language="F#" Value="type SpringBootSiteErrorSummaryModel = class" />
  <AssemblyInfo>
    <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>
            ErrorSummary model.
            Serialized Name: ErrorSummaryModel
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SpringBootSiteErrorSummaryModel ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary> Initializes a new instance of <see cref="T:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel" />. </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AffectedObjectsCount">
      <MemberSignature Language="C#" Value="public long? AffectedObjectsCount { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int64&gt; AffectedObjectsCount" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel.AffectedObjectsCount" />
      <MemberSignature Language="VB.NET" Value="Public Property AffectedObjectsCount As Nullable(Of Long)" />
      <MemberSignature Language="F#" Value="member this.AffectedObjectsCount : Nullable&lt;int64&gt; with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel.AffectedObjectsCount" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int64&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The count.
            Serialized Name: ErrorSummaryModel.affectedObjectsCount
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AffectedResourceType">
      <MemberSignature Language="C#" Value="public string AffectedResourceType { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string AffectedResourceType" />
      <MemberSignature Language="DocId" Value="P:Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel.AffectedResourceType" />
      <MemberSignature Language="VB.NET" Value="Public Property AffectedResourceType As String" />
      <MemberSignature Language="F#" Value="member this.AffectedResourceType : string with get, set" Usage="Azure.ResourceManager.SpringAppDiscovery.Models.SpringBootSiteErrorSummaryModel.AffectedResourceType" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Azure.ResourceManager.SpringAppDiscovery</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            The type of Object.
            Serialized Name: ErrorSummaryModel.affectedResourceType
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
