### YamlMime:ManagedReference
items:
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  commentId: T:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  id: UserContext
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation
  children:
  - Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
  - Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
  - Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
  - Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
  langs:
  - csharp
  - vb
  name: UserContext
  nameWithType: UserContext
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  type: Class
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: UserContext
    path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
    startLine: 10
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nEncapsulates information about a user using an application.\n"
  example: []
  syntax:
    content: public sealed class UserContext
    content.vb: Public NotInheritable Class UserContext
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  modifiers.csharp:
  - public
  - sealed
  - class
  modifiers.vb:
  - Public
  - NotInheritable
  - Class
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
  id: Id
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  langs:
  - csharp
  - vb
  name: Id
  nameWithType: UserContext.Id
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: Id
    path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
    startLine: 25
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets the ID of user accessing the application.\n"
  remarks: "\nUnique user ID is automatically generated in default Application Insights configuration. \n"
  example: []
  syntax:
    content: public string Id { get; set; }
    content.vb: Public Property Id As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
  id: AccountId
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  langs:
  - csharp
  - vb
  name: AccountId
  nameWithType: UserContext.AccountId
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: AccountId
    path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
    startLine: 34
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets the ID of an application-defined account associated with the user.\n"
  example: []
  syntax:
    content: public string AccountId { get; set; }
    content.vb: Public Property AccountId As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
  id: UserAgent
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  langs:
  - csharp
  - vb
  name: UserAgent
  nameWithType: UserContext.UserAgent
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: UserAgent
    path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
    startLine: 43
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets the UserAgent of an application-defined account associated with the user.\n"
  example: []
  syntax:
    content: public string UserAgent { get; set; }
    content.vb: Public Property UserAgent As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
  id: AuthenticatedUserId
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext
  langs:
  - csharp
  - vb
  name: AuthenticatedUserId
  nameWithType: UserContext.AuthenticatedUserId
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: AuthenticatedUserId
    path: src/Core/Managed/Shared/Extensibility/Implementation/UserContext.cs
    startLine: 53
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets the authenticated user id.\nAuthenticated user id should be a persistent string that uniquely represents each authenticated user in the application or service.\n"
  example: []
  syntax:
    content: public string AuthenticatedUserId { get; set; }
    content.vb: Public Property AuthenticatedUserId As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
references:
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation
  commentId: N:Microsoft.ApplicationInsights.Extensibility.Implementation
  isExternal: false
  name: Microsoft.ApplicationInsights.Extensibility.Implementation
  nameWithType: Microsoft.ApplicationInsights.Extensibility.Implementation
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: false
  name: System
  nameWithType: System
  fullName: System
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
  isExternal: false
  name: Id
  nameWithType: UserContext.Id
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.Id
- uid: System.String
  commentId: T:System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
  isExternal: false
  name: AccountId
  nameWithType: UserContext.AccountId
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AccountId
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
  isExternal: false
  name: UserAgent
  nameWithType: UserContext.UserAgent
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.UserAgent
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
  isExternal: false
  name: AuthenticatedUserId
  nameWithType: UserContext.AuthenticatedUserId
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.UserContext.AuthenticatedUserId
