### YamlMime:ManagedReference
items:
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  commentId: T:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  id: HttpWebResponseWrapper
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation
  children:
  - Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
  - Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
  - Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
  - Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
  langs:
  - csharp
  - vb
  name: HttpWebResponseWrapper
  nameWithType: HttpWebResponseWrapper
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  type: Class
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: HttpWebResponseWrapper
    path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
    startLine: 5
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nHttpWebResponse wrapper object.\n"
  example: []
  syntax:
    content: public class HttpWebResponseWrapper
    content.vb: Public Class HttpWebResponseWrapper
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  modifiers.csharp:
  - public
  - class
  modifiers.vb:
  - Public
  - Class
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
  id: Content
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  langs:
  - csharp
  - vb
  name: Content
  nameWithType: HttpWebResponseWrapper.Content
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: Content
    path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
    startLine: 10
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets HttpWebResponse content.\n"
  example: []
  syntax:
    content: public string Content { get; set; }
    content.vb: Public Property Content As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
  id: StatusCode
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  langs:
  - csharp
  - vb
  name: StatusCode
  nameWithType: HttpWebResponseWrapper.StatusCode
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: StatusCode
    path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
    startLine: 15
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets HttpWebResponse StatusCode. \n"
  example: []
  syntax:
    content: public int StatusCode { get; set; }
    content.vb: Public Property StatusCode As Integer
    parameters: []
    return:
      type: System.Int32
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
  id: RetryAfterHeader
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  langs:
  - csharp
  - vb
  name: RetryAfterHeader
  nameWithType: HttpWebResponseWrapper.RetryAfterHeader
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: RetryAfterHeader
    path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
    startLine: 20
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets HttpWebResponse Retry-After header value.\n"
  example: []
  syntax:
    content: public string RetryAfterHeader { get; set; }
    content.vb: Public Property RetryAfterHeader As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
  commentId: P:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
  id: StatusDescription
  parent: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper
  langs:
  - csharp
  - vb
  name: StatusDescription
  nameWithType: HttpWebResponseWrapper.StatusDescription
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
  type: Property
  source:
    remote:
      path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
      branch: master
      repo: https://github.com/Microsoft/ApplicationInsights-dotnet
    id: StatusDescription
    path: src/Core/Managed/Shared/Extensibility/Implementation/HttpWebResponseWrapper.cs
    startLine: 25
  assemblies:
  - Microsoft.ApplicationInsights
  namespace: Microsoft.ApplicationInsights.Extensibility.Implementation
  summary: "\nGets or sets HttpWebResponse StatusDescription.\n"
  example: []
  syntax:
    content: public string StatusDescription { get; set; }
    content.vb: Public Property StatusDescription As String
    parameters: []
    return:
      type: System.String
  overload: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription*
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
references:
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation
  commentId: N:Microsoft.ApplicationInsights.Extensibility.Implementation
  isExternal: false
  name: Microsoft.ApplicationInsights.Extensibility.Implementation
  nameWithType: Microsoft.ApplicationInsights.Extensibility.Implementation
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: false
  name: System
  nameWithType: System
  fullName: System
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
  isExternal: false
  name: Content
  nameWithType: HttpWebResponseWrapper.Content
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.Content
- uid: System.String
  commentId: T:System.String
  parent: System
  isExternal: true
  name: String
  nameWithType: String
  fullName: System.String
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
  isExternal: false
  name: StatusCode
  nameWithType: HttpWebResponseWrapper.StatusCode
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusCode
- uid: System.Int32
  commentId: T:System.Int32
  parent: System
  isExternal: true
  name: Int32
  nameWithType: Int32
  fullName: System.Int32
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
  isExternal: false
  name: RetryAfterHeader
  nameWithType: HttpWebResponseWrapper.RetryAfterHeader
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.RetryAfterHeader
- uid: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription*
  commentId: Overload:Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
  isExternal: false
  name: StatusDescription
  nameWithType: HttpWebResponseWrapper.StatusDescription
  fullName: Microsoft.ApplicationInsights.Extensibility.Implementation.HttpWebResponseWrapper.StatusDescription
