<Type Name="Events" FullName="Microsoft.Azure.CognitiveServices.Personalizer.Events">
  <TypeSignature Language="C#" Value="public class Events : Microsoft.Azure.CognitiveServices.Personalizer.IEvents, Microsoft.Rest.IServiceOperations&lt;Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient&gt;" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Events extends System.Object implements class Microsoft.Azure.CognitiveServices.Personalizer.IEvents, class Microsoft.Rest.IServiceOperations`1&lt;class Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient&gt;" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.CognitiveServices.Personalizer.Events" />
  <TypeSignature Language="VB.NET" Value="Public Class Events&#xA;Implements IEvents, IServiceOperations(Of PersonalizerClient)" />
  <TypeSignature Language="F#" Value="type Events = class&#xA;    interface IServiceOperations&lt;PersonalizerClient&gt;&#xA;    interface IEvents" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.CognitiveServices.Personalizer</AssemblyName>
    <AssemblyVersion>0.8.0.0</AssemblyVersion>
    <AssemblyVersion>1.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.Azure.CognitiveServices.Personalizer.IEvents</InterfaceName>
    </Interface>
    <Interface>
      <InterfaceName>Microsoft.Rest.IServiceOperations&lt;Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient&gt;</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            Events operations.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Events (Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient client);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient client) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.CognitiveServices.Personalizer.Events.#ctor(Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (client As PersonalizerClient)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.CognitiveServices.Personalizer.Events : Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient -&gt; Microsoft.Azure.CognitiveServices.Personalizer.Events" Usage="new Microsoft.Azure.CognitiveServices.Personalizer.Events client" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.CognitiveServices.Personalizer</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="client" Type="Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient" />
      </Parameters>
      <Docs>
        <param name="client">
            Reference to the service client.
            </param>
        <summary>
            Initializes a new instance of the Events class.
            </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:System.ArgumentNullException">
            Thrown when a required parameter is null
            </exception>
      </Docs>
    </Member>
    <Member MemberName="ActivateWithHttpMessagesAsync">
      <MemberSignature Language="C#" Value="public System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt; ActivateWithHttpMessagesAsync (string eventId, System.Collections.Generic.Dictionary&lt;string,System.Collections.Generic.List&lt;string&gt;&gt; customHeaders = default, System.Threading.CancellationToken cancellationToken = default);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Threading.Tasks.Task`1&lt;class Microsoft.Rest.HttpOperationResponse&gt; ActivateWithHttpMessagesAsync(string eventId, class System.Collections.Generic.Dictionary`2&lt;string, class System.Collections.Generic.List`1&lt;string&gt;&gt; customHeaders, valuetype System.Threading.CancellationToken cancellationToken) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.CognitiveServices.Personalizer.Events.ActivateWithHttpMessagesAsync(System.String,System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.List{System.String}},System.Threading.CancellationToken)" />
      <MemberSignature Language="VB.NET" Value="Public Function ActivateWithHttpMessagesAsync (eventId As String, Optional customHeaders As Dictionary(Of String, List(Of String)) = Nothing, Optional cancellationToken As CancellationToken = Nothing) As Task(Of HttpOperationResponse)" />
      <MemberSignature Language="F#" Value="abstract member ActivateWithHttpMessagesAsync : string * System.Collections.Generic.Dictionary&lt;string, System.Collections.Generic.List&lt;string&gt;&gt; * System.Threading.CancellationToken -&gt; System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;&#xA;override this.ActivateWithHttpMessagesAsync : string * System.Collections.Generic.Dictionary&lt;string, System.Collections.Generic.List&lt;string&gt;&gt; * System.Threading.CancellationToken -&gt; System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;" Usage="events.ActivateWithHttpMessagesAsync (eventId, customHeaders, cancellationToken)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Azure.CognitiveServices.Personalizer.IEvents.ActivateWithHttpMessagesAsync(System.String,System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.List{System.String}},System.Threading.CancellationToken)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.CognitiveServices.Personalizer</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventId" Type="System.String" />
        <Parameter Name="customHeaders" Type="System.Collections.Generic.Dictionary&lt;System.String,System.Collections.Generic.List&lt;System.String&gt;&gt;" />
        <Parameter Name="cancellationToken" Type="System.Threading.CancellationToken" />
      </Parameters>
      <Docs>
        <param name="eventId">
            The event ID this activation applies to.
            </param>
        <param name="customHeaders">
            Headers that will be added to request.
            </param>
        <param name="cancellationToken">
            The cancellation token.
            </param>
        <summary>
            Report that the specified event was actually displayed to the user and a
            reward should be expected for it.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:Microsoft.Rest.HttpOperationException">
            Thrown when the operation returned an invalid status code
            </exception>
        <exception cref="T:Microsoft.Rest.ValidationException">
            Thrown when a required parameter is null
            </exception>
        <exception cref="T:System.ArgumentNullException">
            Thrown when a required parameter is null
            </exception>
        <return>
            A response object containing the response body and response headers.
            </return>
      </Docs>
    </Member>
    <Member MemberName="Client">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient Client { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient Client" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.CognitiveServices.Personalizer.Events.Client" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Client As PersonalizerClient" />
      <MemberSignature Language="F#" Value="member this.Client : Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient" Usage="Microsoft.Azure.CognitiveServices.Personalizer.Events.Client" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.CognitiveServices.Personalizer</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.CognitiveServices.Personalizer.PersonalizerClient</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets a reference to the PersonalizerClient
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RewardWithHttpMessagesAsync">
      <MemberSignature Language="C#" Value="public System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt; RewardWithHttpMessagesAsync (string eventId, Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest reward, System.Collections.Generic.Dictionary&lt;string,System.Collections.Generic.List&lt;string&gt;&gt; customHeaders = default, System.Threading.CancellationToken cancellationToken = default);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Threading.Tasks.Task`1&lt;class Microsoft.Rest.HttpOperationResponse&gt; RewardWithHttpMessagesAsync(string eventId, class Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest reward, class System.Collections.Generic.Dictionary`2&lt;string, class System.Collections.Generic.List`1&lt;string&gt;&gt; customHeaders, valuetype System.Threading.CancellationToken cancellationToken) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.CognitiveServices.Personalizer.Events.RewardWithHttpMessagesAsync(System.String,Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest,System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.List{System.String}},System.Threading.CancellationToken)" />
      <MemberSignature Language="VB.NET" Value="Public Function RewardWithHttpMessagesAsync (eventId As String, reward As RewardRequest, Optional customHeaders As Dictionary(Of String, List(Of String)) = Nothing, Optional cancellationToken As CancellationToken = Nothing) As Task(Of HttpOperationResponse)" />
      <MemberSignature Language="F#" Value="abstract member RewardWithHttpMessagesAsync : string * Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest * System.Collections.Generic.Dictionary&lt;string, System.Collections.Generic.List&lt;string&gt;&gt; * System.Threading.CancellationToken -&gt; System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;&#xA;override this.RewardWithHttpMessagesAsync : string * Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest * System.Collections.Generic.Dictionary&lt;string, System.Collections.Generic.List&lt;string&gt;&gt; * System.Threading.CancellationToken -&gt; System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;" Usage="events.RewardWithHttpMessagesAsync (eventId, reward, customHeaders, cancellationToken)" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Azure.CognitiveServices.Personalizer.IEvents.RewardWithHttpMessagesAsync(System.String,Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest,System.Collections.Generic.Dictionary{System.String,System.Collections.Generic.List{System.String}},System.Threading.CancellationToken)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.CognitiveServices.Personalizer</AssemblyName>
        <AssemblyVersion>1.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Threading.Tasks.Task&lt;Microsoft.Rest.HttpOperationResponse&gt;</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventId" Type="System.String" />
        <Parameter Name="reward" Type="Microsoft.Azure.CognitiveServices.Personalizer.Models.RewardRequest" />
        <Parameter Name="customHeaders" Type="System.Collections.Generic.Dictionary&lt;System.String,System.Collections.Generic.List&lt;System.String&gt;&gt;" />
        <Parameter Name="cancellationToken" Type="System.Threading.CancellationToken" />
      </Parameters>
      <Docs>
        <param name="eventId">
            The event id this reward applies to.
            </param>
        <param name="reward">
            The reward should be a floating point number.
            </param>
        <param name="customHeaders">
            Headers that will be added to request.
            </param>
        <param name="cancellationToken">
            The cancellation token.
            </param>
        <summary>
            Report reward to allocate to the top ranked action for the specified event.
            </summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
        <exception cref="T:Microsoft.Rest.HttpOperationException">
            Thrown when the operation returned an invalid status code
            </exception>
        <exception cref="T:Microsoft.Rest.ValidationException">
            Thrown when a required parameter is null
            </exception>
        <exception cref="T:System.ArgumentNullException">
            Thrown when a required parameter is null
            </exception>
        <return>
            A response object containing the response body and response headers.
            </return>
      </Docs>
    </Member>
  </Members>
</Type>
