<Type Name="Module" FullName="Microsoft.Azure.Devices.Module">
  <TypeSignature Language="C#" Value="public class Module : Microsoft.Azure.Devices.Shared.IETagHolder" FrameworkAlternate="azure-dotnet" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Module extends System.Object implements class Microsoft.Azure.Devices.Shared.IETagHolder" FrameworkAlternate="azure-dotnet" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Devices.Module" />
  <TypeSignature Language="VB.NET" Value="Public Class Module&#xA;Implements IETagHolder" FrameworkAlternate="azure-dotnet" />
  <TypeSignature Language="F#" Value="type Module = class&#xA;    interface IETagHolder" FrameworkAlternate="azure-dotnet" />
  <TypeSignature Language="C#" Value="public class Module" FrameworkAlternate="azure-dotnet-preview" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Module extends System.Object" FrameworkAlternate="azure-dotnet-preview" />
  <TypeSignature Language="VB.NET" Value="Public Class Module" FrameworkAlternate="azure-dotnet-preview" />
  <TypeSignature Language="F#" Value="type Module = class" FrameworkAlternate="azure-dotnet-preview" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
    <AssemblyVersion>1.31.0.0</AssemblyVersion>
    <AssemblyVersion>1.32.0.0</AssemblyVersion>
    <AssemblyVersion>1.33.0.0</AssemblyVersion>
    <AssemblyVersion>1.34.0.0</AssemblyVersion>
    <AssemblyVersion>1.35.0.0</AssemblyVersion>
    <AssemblyVersion>1.36.0.0</AssemblyVersion>
    <AssemblyVersion>1.37.0.0</AssemblyVersion>
    <AssemblyVersion>1.37.1.0</AssemblyVersion>
    <AssemblyVersion>1.38.0.0</AssemblyVersion>
    <AssemblyVersion>1.38.1.0</AssemblyVersion>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface FrameworkAlternate="azure-dotnet">
      <InterfaceName>Microsoft.Azure.Devices.Shared.IETagHolder</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>
            Contains IoTHub Module properties and their accessors.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Module ();" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Devices.Module.#ctor" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" FrameworkAlternate="azure-dotnet" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Creates a new instance of <see cref="T:Microsoft.Azure.Devices.Module" /></summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Module (string deviceId, string moduleId);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string deviceId, string moduleId) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Devices.Module.#ctor(System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (deviceId As String, moduleId As String)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Devices.Module : string * string -&gt; Microsoft.Azure.Devices.Module" Usage="new Microsoft.Azure.Devices.Module (deviceId, moduleId)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="deviceId" Type="System.String" />
        <Parameter Name="moduleId" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="deviceId">Device identifier</param>
        <param name="moduleId">Module identifier</param>
        <summary>
            Creates an instance of this class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Authentication">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Devices.AuthenticationMechanism Authentication { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.Devices.AuthenticationMechanism Authentication" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.Authentication" />
      <MemberSignature Language="VB.NET" Value="Public Property Authentication As AuthenticationMechanism" />
      <MemberSignature Language="F#" Value="member this.Authentication : Microsoft.Azure.Devices.AuthenticationMechanism with get, set" Usage="Microsoft.Azure.Devices.Module.Authentication" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="authentication")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="authentication")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.Devices.AuthenticationMechanism</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Device's authentication mechanism.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CloudToDeviceMessageCount">
      <MemberSignature Language="C#" Value="public int CloudToDeviceMessageCount { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 CloudToDeviceMessageCount" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.CloudToDeviceMessageCount" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property CloudToDeviceMessageCount As Integer" />
      <MemberSignature Language="F#" Value="member this.CloudToDeviceMessageCount : int" Usage="Microsoft.Azure.Devices.Module.CloudToDeviceMessageCount" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="cloudToDeviceMessageCount")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="cloudToDeviceMessageCount")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Number of messages sent to the module from the cloud.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ConnectionState">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Devices.DeviceConnectionState ConnectionState { get; set; }" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.Azure.Devices.DeviceConnectionState ConnectionState" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.ConnectionState" />
      <MemberSignature Language="VB.NET" Value="Public Property ConnectionState As DeviceConnectionState" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="F#" Value="member this.ConnectionState : Microsoft.Azure.Devices.DeviceConnectionState with get, set" Usage="Microsoft.Azure.Devices.Module.ConnectionState" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Devices.ClientConnectionState ConnectionState { get; }" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Microsoft.Azure.Devices.ClientConnectionState ConnectionState" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ConnectionState As ClientConnectionState" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="F#" Value="member this.ConnectionState : Microsoft.Azure.Devices.ClientConnectionState" Usage="Microsoft.Azure.Devices.Module.ConnectionState" FrameworkAlternate="azure-dotnet-preview" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonConverter(typeof(Newtonsoft.Json.Converters.StringEnumConverter))]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonConverter(typeof(Newtonsoft.Json.Converters.StringEnumConverter))&gt;]</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="connectionState")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="connectionState")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType FrameworkAlternate="azure-dotnet">Microsoft.Azure.Devices.DeviceConnectionState</ReturnType>
        <ReturnType FrameworkAlternate="azure-dotnet-preview">Microsoft.Azure.Devices.ClientConnectionState</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Modules's connection state.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ConnectionStateUpdatedOnUtc">
      <MemberSignature Language="C#" Value="public DateTimeOffset ConnectionStateUpdatedOnUtc { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTimeOffset ConnectionStateUpdatedOnUtc" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.ConnectionStateUpdatedOnUtc" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ConnectionStateUpdatedOnUtc As DateTimeOffset" />
      <MemberSignature Language="F#" Value="member this.ConnectionStateUpdatedOnUtc : DateTimeOffset" Usage="Microsoft.Azure.Devices.Module.ConnectionStateUpdatedOnUtc" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute FrameworkAlternate="azure-dotnet-preview">
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="connectionStateUpdatedTime")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="connectionStateUpdatedTime")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTimeOffset</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Time when the connection state was last updated.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ConnectionStateUpdatedTime">
      <MemberSignature Language="C#" Value="public DateTime ConnectionStateUpdatedTime { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTime ConnectionStateUpdatedTime" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.ConnectionStateUpdatedTime" />
      <MemberSignature Language="VB.NET" Value="Public Property ConnectionStateUpdatedTime As DateTime" />
      <MemberSignature Language="F#" Value="member this.ConnectionStateUpdatedTime : DateTime with get, set" Usage="Microsoft.Azure.Devices.Module.ConnectionStateUpdatedTime" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute FrameworkAlternate="azure-dotnet">
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="connectionStateUpdatedTime")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="connectionStateUpdatedTime")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTime</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Time when the connection state was last updated.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceId">
      <MemberSignature Language="C#" Value="public string DeviceId { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DeviceId" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.DeviceId" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property DeviceId As String" />
      <MemberSignature Language="F#" Value="member this.DeviceId : string" Usage="Microsoft.Azure.Devices.Module.DeviceId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="deviceId")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="deviceId")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Device Id.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ETag">
      <MemberSignature Language="C#" Value="public string ETag { get; set; }" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="ILAsm" Value=".property instance string ETag" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.ETag" />
      <MemberSignature Language="VB.NET" Value="Public Property ETag As String" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="F#" Value="member this.ETag : string with get, set" Usage="Microsoft.Azure.Devices.Module.ETag" FrameworkAlternate="azure-dotnet" />
      <MemberSignature Language="C#" Value="public Azure.ETag ETag { get; set; }" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype Azure.ETag ETag" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="VB.NET" Value="Public Property ETag As ETag" FrameworkAlternate="azure-dotnet-preview" />
      <MemberSignature Language="F#" Value="member this.ETag : Azure.ETag with get, set" Usage="Microsoft.Azure.Devices.Module.ETag" FrameworkAlternate="azure-dotnet-preview" />
      <MemberType>Property</MemberType>
      <Implements>
        <InterfaceMember FrameworkAlternate="azure-dotnet">P:Microsoft.Azure.Devices.Shared.IETagHolder.ETag</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="etag")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="etag")&gt;]</AttributeName>
        </Attribute>
        <Attribute FrameworkAlternate="azure-dotnet-preview">
          <AttributeName Language="C#">[Newtonsoft.Json.JsonConverter(typeof(Microsoft.Azure.Devices.NewtonsoftJsonETagConverter))]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonConverter(typeof(Microsoft.Azure.Devices.NewtonsoftJsonETagConverter))&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType FrameworkAlternate="azure-dotnet">System.String</ReturnType>
        <ReturnType FrameworkAlternate="azure-dotnet-preview">Azure.ETag</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Module's ETag.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="GenerationId">
      <MemberSignature Language="C#" Value="public string GenerationId { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string GenerationId" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.GenerationId" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property GenerationId As String" />
      <MemberSignature Language="F#" Value="member this.GenerationId : string" Usage="Microsoft.Azure.Devices.Module.GenerationId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="generationId")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="generationId")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Modules's generation Id.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Id">
      <MemberSignature Language="C#" Value="public string Id { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Id" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.Id" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property Id As String" />
      <MemberSignature Language="F#" Value="member this.Id : string" Usage="Microsoft.Azure.Devices.Module.Id" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="moduleId")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="moduleId")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Module Id.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LastActiveOnUtc">
      <MemberSignature Language="C#" Value="public DateTimeOffset LastActiveOnUtc { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTimeOffset LastActiveOnUtc" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.LastActiveOnUtc" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property LastActiveOnUtc As DateTimeOffset" />
      <MemberSignature Language="F#" Value="member this.LastActiveOnUtc : DateTimeOffset" Usage="Microsoft.Azure.Devices.Module.LastActiveOnUtc" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute FrameworkAlternate="azure-dotnet-preview">
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="lastActivityTime")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="lastActivityTime")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTimeOffset</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Time when the module was last active.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LastActivityTime">
      <MemberSignature Language="C#" Value="public DateTime LastActivityTime { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTime LastActivityTime" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.LastActivityTime" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property LastActivityTime As DateTime" />
      <MemberSignature Language="F#" Value="member this.LastActivityTime : DateTime" Usage="Microsoft.Azure.Devices.Module.LastActivityTime" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute FrameworkAlternate="azure-dotnet">
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="lastActivityTime")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="lastActivityTime")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTime</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Time when the module was last active.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ManagedBy">
      <MemberSignature Language="C#" Value="public string ManagedBy { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ManagedBy" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.Module.ManagedBy" />
      <MemberSignature Language="VB.NET" Value="Public Property ManagedBy As String" />
      <MemberSignature Language="F#" Value="member this.ManagedBy : string with get, set" Usage="Microsoft.Azure.Devices.Module.ManagedBy" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices</AssemblyName>
        <AssemblyVersion>1.38.1.0</AssemblyVersion>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="managedBy")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="managedBy")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            represents the modules managed by owner.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
