<Type Name="Config" FullName="Microsoft.Azure.Synapse.Models.Config">
  <TypeSignature Language="C#" Value="public class Config" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Config extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Synapse.Models.Config" />
  <TypeSignature Language="VB.NET" Value="Public Class Config" />
  <TypeSignature Language="F#" Value="type Config = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Synapse</AssemblyName>
    <AssemblyVersion>0.1.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Config ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Synapse.Models.Config.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Synapse</AssemblyName>
        <AssemblyVersion>0.1.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Config (bool? isHiveEnabled = default);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(valuetype System.Nullable`1&lt;bool&gt; isHiveEnabled) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Synapse.Models.Config.#ctor(System.Nullable{System.Boolean})" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (Optional isHiveEnabled As Nullable(Of Boolean) = null)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Synapse.Models.Config : Nullable&lt;bool&gt; -&gt; Microsoft.Azure.Synapse.Models.Config" Usage="new Microsoft.Azure.Synapse.Models.Config isHiveEnabled" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Synapse</AssemblyName>
        <AssemblyVersion>0.1.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="isHiveEnabled" Type="System.Nullable&lt;System.Boolean&gt;" />
      </Parameters>
      <Docs>
        <param name="isHiveEnabled">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IsHiveEnabled">
      <MemberSignature Language="C#" Value="public bool? IsHiveEnabled { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; IsHiveEnabled" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Synapse.Models.Config.IsHiveEnabled" />
      <MemberSignature Language="VB.NET" Value="Public Property IsHiveEnabled As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.IsHiveEnabled : Nullable&lt;bool&gt; with get, set" Usage="Microsoft.Azure.Synapse.Models.Config.IsHiveEnabled" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Synapse</AssemblyName>
        <AssemblyVersion>0.1.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="isHiveEnabled")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
