<Type Name="ICustomEventTypeMapper" FullName="Microsoft.Azure.EventGrid.ICustomEventTypeMapper">
  <TypeSignature Language="C#" Value="public interface ICustomEventTypeMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract ICustomEventTypeMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.EventGrid.ICustomEventTypeMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface ICustomEventTypeMapper" />
  <TypeSignature Language="F#" Value="type ICustomEventTypeMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.EventGrid</AssemblyName>
    <AssemblyVersion>3.2.0.0</AssemblyVersion>
    <AssemblyVersion>3.2.1.0</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="AddOrUpdateCustomEventMapping">
      <MemberSignature Language="C#" Value="public void AddOrUpdateCustomEventMapping (string eventType, Type eventDataType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void AddOrUpdateCustomEventMapping(string eventType, class System.Type eventDataType) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.EventGrid.ICustomEventTypeMapper.AddOrUpdateCustomEventMapping(System.String,System.Type)" />
      <MemberSignature Language="VB.NET" Value="Public Sub AddOrUpdateCustomEventMapping (eventType As String, eventDataType As Type)" />
      <MemberSignature Language="F#" Value="abstract member AddOrUpdateCustomEventMapping : string * Type -&gt; unit" Usage="iCustomEventTypeMapper.AddOrUpdateCustomEventMapping (eventType, eventDataType)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.EventGrid</AssemblyName>
        <AssemblyVersion>3.2.1.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventType" Type="System.String" />
        <Parameter Name="eventDataType" Type="System.Type" />
      </Parameters>
      <Docs>
        <param name="eventType">To be added.</param>
        <param name="eventDataType">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ListAllCustomEventMappings">
      <MemberSignature Language="C#" Value="public System.Collections.Generic.IEnumerable&lt;System.Collections.Generic.KeyValuePair&lt;string,Type&gt;&gt; ListAllCustomEventMappings ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.Collections.Generic.IEnumerable`1&lt;valuetype System.Collections.Generic.KeyValuePair`2&lt;string, class System.Type&gt;&gt; ListAllCustomEventMappings() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.EventGrid.ICustomEventTypeMapper.ListAllCustomEventMappings" />
      <MemberSignature Language="VB.NET" Value="Public Function ListAllCustomEventMappings () As IEnumerable(Of KeyValuePair(Of String, Type))" />
      <MemberSignature Language="F#" Value="abstract member ListAllCustomEventMappings : unit -&gt; seq&lt;System.Collections.Generic.KeyValuePair&lt;string, Type&gt;&gt;" Usage="iCustomEventTypeMapper.ListAllCustomEventMappings " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.EventGrid</AssemblyName>
        <AssemblyVersion>3.2.1.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Collections.Generic.IEnumerable&lt;System.Collections.Generic.KeyValuePair&lt;System.String,System.Type&gt;&gt;</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TryGetCustomEventMapping">
      <MemberSignature Language="C#" Value="public bool TryGetCustomEventMapping (string eventType, out Type eventDataType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance bool TryGetCustomEventMapping(string eventType, [out] class System.Type&amp; eventDataType) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.EventGrid.ICustomEventTypeMapper.TryGetCustomEventMapping(System.String,System.Type@)" />
      <MemberSignature Language="VB.NET" Value="Public Function TryGetCustomEventMapping (eventType As String, ByRef eventDataType As Type) As Boolean" />
      <MemberSignature Language="F#" Value="abstract member TryGetCustomEventMapping : string * Type -&gt; bool" Usage="iCustomEventTypeMapper.TryGetCustomEventMapping (eventType, eventDataType)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.EventGrid</AssemblyName>
        <AssemblyVersion>3.2.1.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventType" Type="System.String" />
        <Parameter Name="eventDataType" Type="System.Type" RefType="out" />
      </Parameters>
      <Docs>
        <param name="eventType">To be added.</param>
        <param name="eventDataType">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="TryRemoveCustomEventMapping">
      <MemberSignature Language="C#" Value="public bool TryRemoveCustomEventMapping (string eventType, out Type eventDataType);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance bool TryRemoveCustomEventMapping(string eventType, [out] class System.Type&amp; eventDataType) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.EventGrid.ICustomEventTypeMapper.TryRemoveCustomEventMapping(System.String,System.Type@)" />
      <MemberSignature Language="VB.NET" Value="Public Function TryRemoveCustomEventMapping (eventType As String, ByRef eventDataType As Type) As Boolean" />
      <MemberSignature Language="F#" Value="abstract member TryRemoveCustomEventMapping : string * Type -&gt; bool" Usage="iCustomEventTypeMapper.TryRemoveCustomEventMapping (eventType, eventDataType)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.EventGrid</AssemblyName>
        <AssemblyVersion>3.2.1.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="eventType" Type="System.String" />
        <Parameter Name="eventDataType" Type="System.Type" RefType="out" />
      </Parameters>
      <Docs>
        <param name="eventType">To be added.</param>
        <param name="eventDataType">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>
