<Type Name="App" FullName="Microsoft.Azure.Management.IotCentral.Models.App">
  <TypeSignature Language="C#" Value="public class App : Microsoft.Azure.Management.IotCentral.Models.Resource" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit App extends Microsoft.Azure.Management.IotCentral.Models.Resource" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Management.IotCentral.Models.App" />
  <TypeSignature Language="VB.NET" Value="Public Class App&#xA;Inherits Resource" />
  <TypeSignature Language="F#" Value="type App = class&#xA;    inherit Resource" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
    <AssemblyVersion>4.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Microsoft.Azure.Management.IotCentral.Models.Resource</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes>
    <Attribute>
      <AttributeName Language="C#">[Microsoft.Rest.Serialization.JsonTransformation]</AttributeName>
      <AttributeName Language="F#">[&lt;Microsoft.Rest.Serialization.JsonTransformation&gt;]</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>
            The IoT Central application.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public App ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.IotCentral.Models.App.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>
            Initializes a new instance of the App class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public App (string location, Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo sku, string id = default, string name = default, string type = default, System.Collections.Generic.IDictionary&lt;string,string&gt; tags = default, string applicationId = default, string displayName = default, string subdomain = default, string template = default, string state = default, Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity identity = default);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string location, class Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo sku, string id, string name, string type, class System.Collections.Generic.IDictionary`2&lt;string, string&gt; tags, string applicationId, string displayName, string subdomain, string template, string state, class Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity identity) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.IotCentral.Models.App.#ctor(System.String,Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo,System.String,System.String,System.String,System.Collections.Generic.IDictionary{System.String,System.String},System.String,System.String,System.String,System.String,System.String,Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (location As String, sku As AppSkuInfo, Optional id As String = Nothing, Optional name As String = Nothing, Optional type As String = Nothing, Optional tags As IDictionary(Of String, String) = Nothing, Optional applicationId As String = Nothing, Optional displayName As String = Nothing, Optional subdomain As String = Nothing, Optional template As String = Nothing, Optional state As String = Nothing, Optional identity As SystemAssignedServiceIdentity = Nothing)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Management.IotCentral.Models.App : string * Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo * string * string * string * System.Collections.Generic.IDictionary&lt;string, string&gt; * string * string * string * string * string * Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity -&gt; Microsoft.Azure.Management.IotCentral.Models.App" Usage="new Microsoft.Azure.Management.IotCentral.Models.App (location, sku, id, name, type, tags, applicationId, displayName, subdomain, template, state, identity)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="location" Type="System.String" />
        <Parameter Name="sku" Type="Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo" />
        <Parameter Name="id" Type="System.String" />
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="type" Type="System.String" />
        <Parameter Name="tags" Type="System.Collections.Generic.IDictionary&lt;System.String,System.String&gt;" />
        <Parameter Name="applicationId" Type="System.String" />
        <Parameter Name="displayName" Type="System.String" />
        <Parameter Name="subdomain" Type="System.String" />
        <Parameter Name="template" Type="System.String" />
        <Parameter Name="state" Type="System.String" />
        <Parameter Name="identity" Type="Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity" />
      </Parameters>
      <Docs>
        <param name="location">The resource location.</param>
        <param name="sku">A valid instance SKU.</param>
        <param name="id">The ARM resource identifier.</param>
        <param name="name">The ARM resource name.</param>
        <param name="type">The resource type.</param>
        <param name="tags">The resource tags.</param>
        <param name="applicationId">The ID of the application.</param>
        <param name="displayName">The display name of the
            application.</param>
        <param name="subdomain">The subdomain of the application.</param>
        <param name="template">The ID of the application template, which is
            a blueprint that defines the characteristics and behaviors of an
            application. Optional; if not specified, defaults to a blank
            blueprint and allows the application to be defined from
            scratch.</param>
        <param name="state">The current state of the application. Possible
            values include: 'created', 'suspended'</param>
        <param name="identity">The managed identities for the IoT Central
            application.</param>
        <summary>
            Initializes a new instance of the App class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ApplicationId">
      <MemberSignature Language="C#" Value="public string ApplicationId { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ApplicationId" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.ApplicationId" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ApplicationId As String" />
      <MemberSignature Language="F#" Value="member this.ApplicationId : string" Usage="Microsoft.Azure.Management.IotCentral.Models.App.ApplicationId" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="properties.applicationId")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="properties.applicationId")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets the ID of the application.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DisplayName">
      <MemberSignature Language="C#" Value="public string DisplayName { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DisplayName" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.DisplayName" />
      <MemberSignature Language="VB.NET" Value="Public Property DisplayName As String" />
      <MemberSignature Language="F#" Value="member this.DisplayName : string with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.DisplayName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="properties.displayName")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="properties.displayName")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the display name of the application.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Identity">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity Identity { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity Identity" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.Identity" />
      <MemberSignature Language="VB.NET" Value="Public Property Identity As SystemAssignedServiceIdentity" />
      <MemberSignature Language="F#" Value="member this.Identity : Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.Identity" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="identity")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="identity")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.Management.IotCentral.Models.SystemAssignedServiceIdentity</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the managed identities for the IoT Central
            application.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Sku">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo Sku { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo Sku" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.Sku" />
      <MemberSignature Language="VB.NET" Value="Public Property Sku As AppSkuInfo" />
      <MemberSignature Language="F#" Value="member this.Sku : Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.Sku" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="sku")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="sku")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.Management.IotCentral.Models.AppSkuInfo</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets a valid instance SKU.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="State">
      <MemberSignature Language="C#" Value="public string State { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string State" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.State" />
      <MemberSignature Language="VB.NET" Value="Public Property State As String" />
      <MemberSignature Language="F#" Value="member this.State : string with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.State" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="properties.state")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="properties.state")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the current state of the application. Possible values
            include: 'created', 'suspended'
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Subdomain">
      <MemberSignature Language="C#" Value="public string Subdomain { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Subdomain" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.Subdomain" />
      <MemberSignature Language="VB.NET" Value="Public Property Subdomain As String" />
      <MemberSignature Language="F#" Value="member this.Subdomain : string with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.Subdomain" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="properties.subdomain")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="properties.subdomain")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the subdomain of the application.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Template">
      <MemberSignature Language="C#" Value="public string Template { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Template" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.IotCentral.Models.App.Template" />
      <MemberSignature Language="VB.NET" Value="Public Property Template As String" />
      <MemberSignature Language="F#" Value="member this.Template : string with get, set" Usage="Microsoft.Azure.Management.IotCentral.Models.App.Template" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName Language="C#">[Newtonsoft.Json.JsonProperty(PropertyName="properties.template")]</AttributeName>
          <AttributeName Language="F#">[&lt;Newtonsoft.Json.JsonProperty(PropertyName="properties.template")&gt;]</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the ID of the application template, which is a
            blueprint that defines the characteristics and behaviors of an
            application. Optional; if not specified, defaults to a blank
            blueprint and allows the application to be defined from scratch.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Validate">
      <MemberSignature Language="C#" Value="public override void Validate ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig virtual instance void Validate() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.IotCentral.Models.App.Validate" />
      <MemberSignature Language="VB.NET" Value="Public Overrides Sub Validate ()" />
      <MemberSignature Language="F#" Value="override this.Validate : unit -&gt; unit" Usage="app.Validate " />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.IotCentral</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Parameters />
      <Docs>
        <summary>
            Validate the object.
            </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:Microsoft.Rest.ValidationException">
            Thrown if validation fails
            </exception>
      </Docs>
    </Member>
  </Members>
</Type>
