### YamlMime:ManagedReference
items:
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  commentId: T:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  id: ContainerServiceSshConfiguration
  parent: Microsoft.Azure.Management.Compute.Models
  children:
  - Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor
  - Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor(System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey})
  - Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
  langs:
  - csharp
  - vb
  name: ContainerServiceSshConfiguration
  nameWithType: ContainerServiceSshConfiguration
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  type: Class
  source:
    remote:
      path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
    id: ContainerServiceSshConfiguration
    path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
    startLine: 15
  assemblies:
  - Microsoft.Azure.Management.Compute
  namespace: Microsoft.Azure.Management.Compute.Models
  summary: "\nSSH configuration for Linux based VMs running on Azure\n"
  example: []
  syntax:
    content: public class ContainerServiceSshConfiguration
    content.vb: Public Class ContainerServiceSshConfiguration
  inheritance:
  - System.Object
  inheritedMembers:
  - System.Object.ToString
  - System.Object.Equals(System.Object)
  - System.Object.Equals(System.Object,System.Object)
  - System.Object.ReferenceEquals(System.Object,System.Object)
  - System.Object.GetHashCode
  - System.Object.GetType
  - System.Object.MemberwiseClone
  modifiers.csharp:
  - public
  - class
  modifiers.vb:
  - Public
  - Class
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor
  commentId: M:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor
  id: '#ctor'
  parent: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  langs:
  - csharp
  - vb
  name: ContainerServiceSshConfiguration()
  nameWithType: ContainerServiceSshConfiguration.ContainerServiceSshConfiguration()
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.ContainerServiceSshConfiguration()
  type: Constructor
  source:
    remote:
      path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
    id: .ctor
    path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
    startLine: 21
  assemblies:
  - Microsoft.Azure.Management.Compute
  namespace: Microsoft.Azure.Management.Compute.Models
  summary: "\nInitializes a new instance of the ContainerServiceSshConfiguration\nclass.\n"
  example: []
  syntax:
    content: public ContainerServiceSshConfiguration()
    content.vb: Public Sub New
  overload: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor*
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor(System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey})
  commentId: M:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor(System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey})
  id: '#ctor(System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey})'
  parent: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  langs:
  - csharp
  - vb
  name: ContainerServiceSshConfiguration(IList<ContainerServiceSshPublicKey>)
  nameWithType: ContainerServiceSshConfiguration.ContainerServiceSshConfiguration(IList<ContainerServiceSshPublicKey>)
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.ContainerServiceSshConfiguration(System.Collections.Generic.IList<Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey>)
  type: Constructor
  source:
    remote:
      path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
    id: .ctor
    path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
    startLine: 29
  assemblies:
  - Microsoft.Azure.Management.Compute
  namespace: Microsoft.Azure.Management.Compute.Models
  summary: "\nInitializes a new instance of the ContainerServiceSshConfiguration\nclass.\n"
  example: []
  syntax:
    content: public ContainerServiceSshConfiguration(IList<ContainerServiceSshPublicKey> publicKeys = null)
    content.vb: Public Sub New(publicKeys As IList(Of ContainerServiceSshPublicKey) = Nothing)
    parameters:
    - id: publicKeys
      type: System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey}
      description: >-
        the list of SSH public keys used to

        authenticate with Linux based VMs
  overload: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor*
  nameWithType.vb: ContainerServiceSshConfiguration.ContainerServiceSshConfiguration(IList(Of ContainerServiceSshPublicKey))
  modifiers.csharp:
  - public
  modifiers.vb:
  - Public
  fullName.vb: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.ContainerServiceSshConfiguration(System.Collections.Generic.IList(Of Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey))
  name.vb: ContainerServiceSshConfiguration(IList(Of ContainerServiceSshPublicKey))
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
  commentId: P:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
  id: PublicKeys
  parent: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration
  langs:
  - csharp
  - vb
  name: PublicKeys
  nameWithType: ContainerServiceSshConfiguration.PublicKeys
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
  type: Property
  source:
    remote:
      path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
      branch: AutoRest
      repo: https://github.com/Azure/azure-sdk-for-net.git
    id: PublicKeys
    path: src/ResourceManagement/Compute/Microsoft.Azure.Management.Compute/Generated/Models/ContainerServiceSshConfiguration.cs
    startLine: 38
  assemblies:
  - Microsoft.Azure.Management.Compute
  namespace: Microsoft.Azure.Management.Compute.Models
  summary: "\nGets or sets the list of SSH public keys used to authenticate with\nLinux based VMs\n"
  example: []
  syntax:
    content: >-
      [JsonProperty(PropertyName = "publicKeys")]

      public IList<ContainerServiceSshPublicKey> PublicKeys { get; set; }
    content.vb: >-
      <JsonProperty(PropertyName:="publicKeys")>

      Public Property PublicKeys As IList(Of ContainerServiceSshPublicKey)
    parameters: []
    return:
      type: System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey}
  overload: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys*
  attributes:
  - type: Newtonsoft.Json.JsonPropertyAttribute
    ctor: Newtonsoft.Json.JsonPropertyAttribute.#ctor
    arguments: []
    namedArguments:
    - name: PropertyName
      type: System.String
      value: publicKeys
  modifiers.csharp:
  - public
  - get
  - set
  modifiers.vb:
  - Public
references:
- uid: Microsoft.Azure.Management.Compute.Models
  commentId: N:Microsoft.Azure.Management.Compute.Models
  isExternal: false
  name: Microsoft.Azure.Management.Compute.Models
  nameWithType: Microsoft.Azure.Management.Compute.Models
  fullName: Microsoft.Azure.Management.Compute.Models
- uid: System.Object
  commentId: T:System.Object
  parent: System
  isExternal: true
  name: Object
  nameWithType: Object
  fullName: System.Object
- uid: System.Object.ToString
  commentId: M:System.Object.ToString
  parent: System.Object
  isExternal: true
  name: ToString()
  nameWithType: Object.ToString()
  fullName: System.Object.ToString()
  spec.csharp:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ToString
    name: ToString
    nameWithType: Object.ToString
    fullName: System.Object.ToString
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object)
  commentId: M:System.Object.Equals(System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object)
  nameWithType: Object.Equals(Object)
  fullName: System.Object.Equals(System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.Equals(System.Object,System.Object)
  commentId: M:System.Object.Equals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: Equals(Object, Object)
  nameWithType: Object.Equals(Object, Object)
  fullName: System.Object.Equals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.Equals(System.Object,System.Object)
    name: Equals
    nameWithType: Object.Equals
    fullName: System.Object.Equals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.ReferenceEquals(System.Object,System.Object)
  commentId: M:System.Object.ReferenceEquals(System.Object,System.Object)
  parent: System.Object
  isExternal: true
  name: ReferenceEquals(Object, Object)
  nameWithType: Object.ReferenceEquals(Object, Object)
  fullName: System.Object.ReferenceEquals(System.Object, System.Object)
  spec.csharp:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.ReferenceEquals(System.Object,System.Object)
    name: ReferenceEquals
    nameWithType: Object.ReferenceEquals
    fullName: System.Object.ReferenceEquals
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: ', '
    nameWithType: ', '
    fullName: ', '
  - uid: System.Object
    name: Object
    nameWithType: Object
    fullName: System.Object
    isExternal: true
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetHashCode
  commentId: M:System.Object.GetHashCode
  parent: System.Object
  isExternal: true
  name: GetHashCode()
  nameWithType: Object.GetHashCode()
  fullName: System.Object.GetHashCode()
  spec.csharp:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetHashCode
    name: GetHashCode
    nameWithType: Object.GetHashCode
    fullName: System.Object.GetHashCode
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.GetType
  commentId: M:System.Object.GetType
  parent: System.Object
  isExternal: true
  name: GetType()
  nameWithType: Object.GetType()
  fullName: System.Object.GetType()
  spec.csharp:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.GetType
    name: GetType
    nameWithType: Object.GetType
    fullName: System.Object.GetType
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Object.MemberwiseClone
  commentId: M:System.Object.MemberwiseClone
  parent: System.Object
  isExternal: true
  name: MemberwiseClone()
  nameWithType: Object.MemberwiseClone()
  fullName: System.Object.MemberwiseClone()
  spec.csharp:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
  spec.vb:
  - uid: System.Object.MemberwiseClone
    name: MemberwiseClone
    nameWithType: Object.MemberwiseClone
    fullName: System.Object.MemberwiseClone
    isExternal: true
  - name: (
    nameWithType: (
    fullName: (
  - name: )
    nameWithType: )
    fullName: )
- uid: System
  commentId: N:System
  isExternal: false
  name: System
  nameWithType: System
  fullName: System
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor*
  commentId: Overload:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.#ctor
  isExternal: false
  name: ContainerServiceSshConfiguration
  nameWithType: ContainerServiceSshConfiguration.ContainerServiceSshConfiguration
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.ContainerServiceSshConfiguration
- uid: System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey}
  commentId: T:System.Collections.Generic.IList{Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey}
  parent: System.Collections.Generic
  definition: System.Collections.Generic.IList`1
  name: IList<ContainerServiceSshPublicKey>
  nameWithType: IList<ContainerServiceSshPublicKey>
  fullName: System.Collections.Generic.IList<Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey>
  nameWithType.vb: IList(Of ContainerServiceSshPublicKey)
  fullname.vb: System.Collections.Generic.IList(Of Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey)
  name.vb: IList(Of ContainerServiceSshPublicKey)
  spec.csharp:
  - uid: System.Collections.Generic.IList`1
    name: IList
    nameWithType: IList
    fullName: System.Collections.Generic.IList
    isExternal: true
  - name: <
    nameWithType: <
    fullName: <
  - uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey
    name: ContainerServiceSshPublicKey
    nameWithType: ContainerServiceSshPublicKey
    fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey
  - name: '>'
    nameWithType: '>'
    fullName: '>'
  spec.vb:
  - uid: System.Collections.Generic.IList`1
    name: IList
    nameWithType: IList
    fullName: System.Collections.Generic.IList
    isExternal: true
  - name: '(Of '
    nameWithType: '(Of '
    fullName: '(Of '
  - uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey
    name: ContainerServiceSshPublicKey
    nameWithType: ContainerServiceSshPublicKey
    fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshPublicKey
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Collections.Generic.IList`1
  commentId: T:System.Collections.Generic.IList`1
  isExternal: true
  name: IList<T>
  nameWithType: IList<T>
  fullName: System.Collections.Generic.IList<T>
  nameWithType.vb: IList(Of T)
  fullname.vb: System.Collections.Generic.IList(Of T)
  name.vb: IList(Of T)
  spec.csharp:
  - uid: System.Collections.Generic.IList`1
    name: IList
    nameWithType: IList
    fullName: System.Collections.Generic.IList
    isExternal: true
  - name: <
    nameWithType: <
    fullName: <
  - name: T
    nameWithType: T
    fullName: T
  - name: '>'
    nameWithType: '>'
    fullName: '>'
  spec.vb:
  - uid: System.Collections.Generic.IList`1
    name: IList
    nameWithType: IList
    fullName: System.Collections.Generic.IList
    isExternal: true
  - name: '(Of '
    nameWithType: '(Of '
    fullName: '(Of '
  - name: T
    nameWithType: T
    fullName: T
  - name: )
    nameWithType: )
    fullName: )
- uid: System.Collections.Generic
  commentId: N:System.Collections.Generic
  isExternal: false
  name: System.Collections.Generic
  nameWithType: System.Collections.Generic
  fullName: System.Collections.Generic
- uid: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys*
  commentId: Overload:Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
  isExternal: false
  name: PublicKeys
  nameWithType: ContainerServiceSshConfiguration.PublicKeys
  fullName: Microsoft.Azure.Management.Compute.Models.ContainerServiceSshConfiguration.PublicKeys
