<Type Name="Settings" FullName="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings">
  <TypeSignature Language="C#" Value="public class Settings" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Settings extends System.Object" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings" />
  <TypeSignature Language="VB.NET" Value="Public Class Settings" />
  <TypeSignature Language="F#" Value="type Settings = class" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Settings (Microsoft.Azure.Devices.ProtocolGateway.ISettingsProvider settingsProvider);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(class Microsoft.Azure.Devices.ProtocolGateway.ISettingsProvider settingsProvider) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.#ctor(Microsoft.Azure.Devices.ProtocolGateway.ISettingsProvider)" />
      <MemberSignature Language="VB.NET" Value="Public Sub New (settingsProvider As ISettingsProvider)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings : Microsoft.Azure.Devices.ProtocolGateway.ISettingsProvider -&gt; Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings" Usage="new Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings settingsProvider" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="settingsProvider" Type="Microsoft.Azure.Devices.ProtocolGateway.ISettingsProvider" />
      </Parameters>
      <Docs>
        <param name="settingsProvider">To be added.</param>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="AbortOnOutOfOrderPubAck">
      <MemberSignature Language="C#" Value="public bool AbortOnOutOfOrderPubAck { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool AbortOnOutOfOrderPubAck" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.AbortOnOutOfOrderPubAck" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property AbortOnOutOfOrderPubAck As Boolean" />
      <MemberSignature Language="F#" Value="member this.AbortOnOutOfOrderPubAck : bool" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.AbortOnOutOfOrderPubAck" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ConnectArrivalTimeout">
      <MemberSignature Language="C#" Value="public Nullable&lt;TimeSpan&gt; ConnectArrivalTimeout { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype System.TimeSpan&gt; ConnectArrivalTimeout" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.ConnectArrivalTimeout" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ConnectArrivalTimeout As Nullable(Of TimeSpan)" />
      <MemberSignature Language="F#" Value="member this.ConnectArrivalTimeout : Nullable&lt;TimeSpan&gt;" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.ConnectArrivalTimeout" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.TimeSpan&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DefaultPublishToClientQoS">
      <MemberSignature Language="C#" Value="public DotNetty.Codecs.Mqtt.Packets.QualityOfService DefaultPublishToClientQoS { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype DotNetty.Codecs.Mqtt.Packets.QualityOfService DefaultPublishToClientQoS" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DefaultPublishToClientQoS" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property DefaultPublishToClientQoS As QualityOfService" />
      <MemberSignature Language="F#" Value="member this.DefaultPublishToClientQoS : DotNetty.Codecs.Mqtt.Packets.QualityOfService" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DefaultPublishToClientQoS" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>DotNetty.Codecs.Mqtt.Packets.QualityOfService</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceReceiveAckCanTimeout">
      <MemberSignature Language="C#" Value="public bool DeviceReceiveAckCanTimeout { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool DeviceReceiveAckCanTimeout" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DeviceReceiveAckCanTimeout" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property DeviceReceiveAckCanTimeout As Boolean" />
      <MemberSignature Language="F#" Value="member this.DeviceReceiveAckCanTimeout : bool" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DeviceReceiveAckCanTimeout" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DeviceReceiveAckTimeout">
      <MemberSignature Language="C#" Value="public TimeSpan DeviceReceiveAckTimeout { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.TimeSpan DeviceReceiveAckTimeout" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DeviceReceiveAckTimeout" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property DeviceReceiveAckTimeout As TimeSpan" />
      <MemberSignature Language="F#" Value="member this.DeviceReceiveAckTimeout : TimeSpan" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DeviceReceiveAckTimeout" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.TimeSpan</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="DupPropertyName">
      <MemberSignature Language="C#" Value="public string DupPropertyName { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string DupPropertyName" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DupPropertyName" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property DupPropertyName As String" />
      <MemberSignature Language="F#" Value="member this.DupPropertyName : string" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.DupPropertyName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxKeepAliveTimeout">
      <MemberSignature Language="C#" Value="public Nullable&lt;TimeSpan&gt; MaxKeepAliveTimeout { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype System.TimeSpan&gt; MaxKeepAliveTimeout" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxKeepAliveTimeout" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MaxKeepAliveTimeout As Nullable(Of TimeSpan)" />
      <MemberSignature Language="F#" Value="member this.MaxKeepAliveTimeout : Nullable&lt;TimeSpan&gt;" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxKeepAliveTimeout" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.TimeSpan&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxOutboundRetransmissionCount">
      <MemberSignature Language="C#" Value="public int MaxOutboundRetransmissionCount { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 MaxOutboundRetransmissionCount" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxOutboundRetransmissionCount" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MaxOutboundRetransmissionCount As Integer" />
      <MemberSignature Language="F#" Value="member this.MaxOutboundRetransmissionCount : int" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxOutboundRetransmissionCount" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxOutboundRetransmissionEnforced">
      <MemberSignature Language="C#" Value="public bool MaxOutboundRetransmissionEnforced { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance bool MaxOutboundRetransmissionEnforced" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxOutboundRetransmissionEnforced" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MaxOutboundRetransmissionEnforced As Boolean" />
      <MemberSignature Language="F#" Value="member this.MaxOutboundRetransmissionEnforced : bool" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxOutboundRetransmissionEnforced" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="MaxPendingInboundAcknowledgements">
      <MemberSignature Language="C#" Value="public int MaxPendingInboundAcknowledgements { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance int32 MaxPendingInboundAcknowledgements" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxPendingInboundAcknowledgements" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property MaxPendingInboundAcknowledgements As Integer" />
      <MemberSignature Language="F#" Value="member this.MaxPendingInboundAcknowledgements : int" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.MaxPendingInboundAcknowledgements" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="QoSPropertyName">
      <MemberSignature Language="C#" Value="public string QoSPropertyName { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string QoSPropertyName" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.QoSPropertyName" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property QoSPropertyName As String" />
      <MemberSignature Language="F#" Value="member this.QoSPropertyName : string" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.QoSPropertyName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="RetainPropertyName">
      <MemberSignature Language="C#" Value="public string RetainPropertyName { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string RetainPropertyName" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.RetainPropertyName" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property RetainPropertyName As String" />
      <MemberSignature Language="F#" Value="member this.RetainPropertyName : string" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.RetainPropertyName" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ServicePropertyPrefix">
      <MemberSignature Language="C#" Value="public string ServicePropertyPrefix { get; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string ServicePropertyPrefix" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.ServicePropertyPrefix" />
      <MemberSignature Language="VB.NET" Value="Public ReadOnly Property ServicePropertyPrefix As String" />
      <MemberSignature Language="F#" Value="member this.ServicePropertyPrefix : string" Usage="Microsoft.Azure.Devices.ProtocolGateway.Mqtt.Settings.ServicePropertyPrefix" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Devices.ProtocolGateway.Core</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>To be added.</summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>