<Type Name="Module" FullName="Microsoft.Azure.Management.Automation.Models.Module">
  <TypeSignature Language="C#" Value="public class Module : Microsoft.Azure.Management.Automation.Models.TrackedResource" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit Module extends Microsoft.Azure.Management.Automation.Models.TrackedResource" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Azure.Management.Automation.Models.Module" />
  <TypeSignature Language="VB.NET" Value="Public Class Module&#xA;Inherits TrackedResource" />
  <TypeSignature Language="F#" Value="type Module = class&#xA;    inherit TrackedResource" />
  <TypeSignature Language="C++ CLI" Value="public ref class Module : Microsoft::Azure::Management::Automation::Models::Resource" />
  <TypeSignature Language="C++ WINRT" Value="[Windows::Foundation::Metadata::WebHostHidden]&#xA;class Module : Microsoft::Azure::Management::Automation::Models::Resource" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
    <AssemblyVersion>2.0.0.0</AssemblyVersion>
    <AssemblyVersion>3.0.0.0</AssemblyVersion>
    <AssemblyVersion>3.0.1.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Microsoft.Azure.Management.Automation.Models.ResourceBase</BaseTypeName>
    <BaseTypeName FrameworkAlternate="azure-dotnet">Microsoft.Azure.Management.Automation.Models.Resource</BaseTypeName>
    <BaseTypeName FrameworkAlternate="azure-dotnet">Microsoft.Azure.Management.Automation.Models.TrackedResource</BaseTypeName>
  </Base>
  <Attributes>
    <Attribute>
      <AttributeName>Microsoft.Rest.Serialization.JsonTransformation</AttributeName>
    </Attribute>
  </Attributes>
  <Docs>
    <summary>
            Definition of the module type.
            </summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Module ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.Automation.Models.Module.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; Module();" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; Module();" />
      <MemberSignature Language="C++ WINRT" Value=" Module();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>2.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Docs>
        <summary>
            Initializes a new instance of the Module class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public Module (string id = null, string name = null, string type = null, System.Collections.Generic.IDictionary&lt;string,string&gt; tags = null, string location = null, Nullable&lt;bool&gt; isGlobal = null, string version = null, Nullable&lt;long&gt; sizeInBytes = null, Nullable&lt;int&gt; activityCount = null, Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; provisioningState = null, Microsoft.Azure.Management.Automation.Models.ContentLink contentLink = null, Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo error = null, DateTimeOffset creationTime = null, DateTimeOffset lastModifiedTime = null, string description = null, string etag = null);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor(string id, string name, string type, class System.Collections.Generic.IDictionary`2&lt;string, string&gt; tags, string location, valuetype System.Nullable`1&lt;bool&gt; isGlobal, string version, valuetype System.Nullable`1&lt;int64&gt; sizeInBytes, valuetype System.Nullable`1&lt;int32&gt; activityCount, valuetype System.Nullable`1&lt;valuetype Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; provisioningState, class Microsoft.Azure.Management.Automation.Models.ContentLink contentLink, class Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo error, valuetype System.DateTimeOffset creationTime, valuetype System.DateTimeOffset lastModifiedTime, string description, string etag) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.Automation.Models.Module.#ctor(System.String,System.String,System.String,System.Collections.Generic.IDictionary{System.String,System.String},System.String,System.Nullable{System.Boolean},System.String,System.Nullable{System.Int64},System.Nullable{System.Int32},System.Nullable{Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState},Microsoft.Azure.Management.Automation.Models.ContentLink,Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo,System.DateTimeOffset,System.DateTimeOffset,System.String,System.String)" />
      <MemberSignature Language="F#" Value="new Microsoft.Azure.Management.Automation.Models.Module : string * string * string * System.Collections.Generic.IDictionary&lt;string, string&gt; * string * Nullable&lt;bool&gt; * string * Nullable&lt;int64&gt; * Nullable&lt;int&gt; * Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; * Microsoft.Azure.Management.Automation.Models.ContentLink * Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo * DateTimeOffset * DateTimeOffset * string * string -&gt; Microsoft.Azure.Management.Automation.Models.Module" Usage="new Microsoft.Azure.Management.Automation.Models.Module (id, name, type, tags, location, isGlobal, version, sizeInBytes, activityCount, provisioningState, contentLink, error, creationTime, lastModifiedTime, description, etag)" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters>
        <Parameter Name="id" Type="System.String" />
        <Parameter Name="name" Type="System.String" />
        <Parameter Name="type" Type="System.String" />
        <Parameter Name="tags" Type="System.Collections.Generic.IDictionary&lt;System.String,System.String&gt;" />
        <Parameter Name="location" Type="System.String" />
        <Parameter Name="isGlobal" Type="System.Nullable&lt;System.Boolean&gt;" />
        <Parameter Name="version" Type="System.String" />
        <Parameter Name="sizeInBytes" Type="System.Nullable&lt;System.Int64&gt;" />
        <Parameter Name="activityCount" Type="System.Nullable&lt;System.Int32&gt;" />
        <Parameter Name="provisioningState" Type="System.Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt;" />
        <Parameter Name="contentLink" Type="Microsoft.Azure.Management.Automation.Models.ContentLink" />
        <Parameter Name="error" Type="Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo" />
        <Parameter Name="creationTime" Type="System.DateTimeOffset" />
        <Parameter Name="lastModifiedTime" Type="System.DateTimeOffset" />
        <Parameter Name="description" Type="System.String" />
        <Parameter Name="etag" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="id">Fully qualified resource Id for the
            resource</param>
        <param name="name">The name of the resource</param>
        <param name="type">The type of the resource.</param>
        <param name="tags">Resource tags.</param>
        <param name="location">The Azure Region where the resource
            lives</param>
        <param name="isGlobal">Gets or sets the isGlobal flag of the
            module.</param>
        <param name="version">Gets or sets the version of the
            module.</param>
        <param name="sizeInBytes">Gets or sets the size in bytes of the
            module.</param>
        <param name="activityCount">Gets or sets the activity count of the
            module.</param>
        <param name="provisioningState">Gets or sets the provisioning state
            of the module. Possible values include: 'Created', 'Creating',
            'StartingImportModuleRunbook', 'RunningImportModuleRunbook',
            'ContentRetrieved', 'ContentDownloaded', 'ContentValidated',
            'ConnectionTypeImported', 'ContentStored', 'ModuleDataStored',
            'ActivitiesStored', 'ModuleImportRunbookComplete', 'Succeeded',
            'Failed', 'Cancelled', 'Updating'</param>
        <param name="contentLink">Gets or sets the contentLink of the
            module.</param>
        <param name="error">Gets or sets the error info of the
            module.</param>
        <param name="creationTime">Gets or sets the creation time.</param>
        <param name="lastModifiedTime">Gets or sets the last modified
            time.</param>
        <param name="description">Gets or sets the description.</param>
        <param name="etag">Gets or sets the etag of the resource.</param>
        <summary>
            Initializes a new instance of the Module class.
            </summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ActivityCount">
      <MemberSignature Language="C#" Value="public Nullable&lt;int&gt; ActivityCount { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int32&gt; ActivityCount" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.ActivityCount" />
      <MemberSignature Language="VB.NET" Value="Public Property ActivityCount As Nullable(Of Integer)" />
      <MemberSignature Language="F#" Value="member this.ActivityCount : Nullable&lt;int&gt; with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.ActivityCount" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;int&gt; ActivityCount { Nullable&lt;int&gt; get(); void set(Nullable&lt;int&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.activityCount")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int32&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the activity count of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ContentLink">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Management.Automation.Models.ContentLink ContentLink { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.Management.Automation.Models.ContentLink ContentLink" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.ContentLink" />
      <MemberSignature Language="VB.NET" Value="Public Property ContentLink As ContentLink" />
      <MemberSignature Language="F#" Value="member this.ContentLink : Microsoft.Azure.Management.Automation.Models.ContentLink with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.ContentLink" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Azure::Management::Automation::Models::ContentLink ^ ContentLink { Microsoft::Azure::Management::Automation::Models::ContentLink ^ get(); void set(Microsoft::Azure::Management::Automation::Models::ContentLink ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.contentLink")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.Management.Automation.Models.ContentLink</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the contentLink of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="CreationTime">
      <MemberSignature Language="C#" Value="public DateTimeOffset CreationTime { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTimeOffset CreationTime" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.CreationTime" />
      <MemberSignature Language="VB.NET" Value="Public Property CreationTime As DateTimeOffset" />
      <MemberSignature Language="F#" Value="member this.CreationTime : DateTimeOffset with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.CreationTime" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;DateTime&gt; CreationTime { Nullable&lt;DateTime&gt; get(); void set(Nullable&lt;DateTime&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.creationTime")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTimeOffset</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the creation time.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Description">
      <MemberSignature Language="C#" Value="public string Description { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Description" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.Description" />
      <MemberSignature Language="VB.NET" Value="Public Property Description As String" />
      <MemberSignature Language="F#" Value="member this.Description : string with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.Description" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ Description { System::String ^ get(); void set(System::String ^ value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Platform::String ^ Description { Platform::String ^ get(); void set(Platform::String ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.description")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the description.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Error">
      <MemberSignature Language="C#" Value="public Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo Error { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance class Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo Error" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.Error" />
      <MemberSignature Language="VB.NET" Value="Public Property Error As ModuleErrorInfo" />
      <MemberSignature Language="F#" Value="member this.Error : Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.Error" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Microsoft::Azure::Management::Automation::Models::ModuleErrorInfo ^ Error { Microsoft::Azure::Management::Automation::Models::ModuleErrorInfo ^ get(); void set(Microsoft::Azure::Management::Automation::Models::ModuleErrorInfo ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.error")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>Microsoft.Azure.Management.Automation.Models.ModuleErrorInfo</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the error info of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Etag">
      <MemberSignature Language="C#" Value="public string Etag { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Etag" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.Etag" />
      <MemberSignature Language="VB.NET" Value="Public Property Etag As String" />
      <MemberSignature Language="F#" Value="member this.Etag : string with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.Etag" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ Etag { System::String ^ get(); void set(System::String ^ value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Platform::String ^ Etag { Platform::String ^ get(); void set(Platform::String ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="etag")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the etag of the resource.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="IsGlobal">
      <MemberSignature Language="C#" Value="public Nullable&lt;bool&gt; IsGlobal { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;bool&gt; IsGlobal" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.IsGlobal" />
      <MemberSignature Language="VB.NET" Value="Public Property IsGlobal As Nullable(Of Boolean)" />
      <MemberSignature Language="F#" Value="member this.IsGlobal : Nullable&lt;bool&gt; with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.IsGlobal" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;bool&gt; IsGlobal { Nullable&lt;bool&gt; get(); void set(Nullable&lt;bool&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.isGlobal")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Boolean&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the isGlobal flag of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="LastModifiedTime">
      <MemberSignature Language="C#" Value="public DateTimeOffset LastModifiedTime { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.DateTimeOffset LastModifiedTime" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.LastModifiedTime" />
      <MemberSignature Language="VB.NET" Value="Public Property LastModifiedTime As DateTimeOffset" />
      <MemberSignature Language="F#" Value="member this.LastModifiedTime : DateTimeOffset with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.LastModifiedTime" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;DateTime&gt; LastModifiedTime { Nullable&lt;DateTime&gt; get(); void set(Nullable&lt;DateTime&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.lastModifiedTime")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.DateTimeOffset</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the last modified time.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="ProvisioningState">
      <MemberSignature Language="C#" Value="public Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; ProvisioningState { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;valuetype Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; ProvisioningState" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.ProvisioningState" />
      <MemberSignature Language="VB.NET" Value="Public Property ProvisioningState As Nullable(Of ModuleProvisioningState)" />
      <MemberSignature Language="F#" Value="member this.ProvisioningState : Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt; with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.ProvisioningState" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;Microsoft::Azure::Management::Automation::Models::ModuleProvisioningState&gt; ProvisioningState { Nullable&lt;Microsoft::Azure::Management::Automation::Models::ModuleProvisioningState&gt; get(); void set(Nullable&lt;Microsoft::Azure::Management::Automation::Models::ModuleProvisioningState&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.provisioningState")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;Microsoft.Azure.Management.Automation.Models.ModuleProvisioningState&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the provisioning state of the module. Possible values
            include: 'Created', 'Creating', 'StartingImportModuleRunbook',
            'RunningImportModuleRunbook', 'ContentRetrieved',
            'ContentDownloaded', 'ContentValidated', 'ConnectionTypeImported',
            'ContentStored', 'ModuleDataStored', 'ActivitiesStored',
            'ModuleImportRunbookComplete', 'Succeeded', 'Failed', 'Cancelled',
            'Updating'
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="SizeInBytes">
      <MemberSignature Language="C#" Value="public Nullable&lt;long&gt; SizeInBytes { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance valuetype System.Nullable`1&lt;int64&gt; SizeInBytes" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.SizeInBytes" />
      <MemberSignature Language="VB.NET" Value="Public Property SizeInBytes As Nullable(Of Long)" />
      <MemberSignature Language="F#" Value="member this.SizeInBytes : Nullable&lt;int64&gt; with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.SizeInBytes" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property Nullable&lt;long&gt; SizeInBytes { Nullable&lt;long&gt; get(); void set(Nullable&lt;long&gt; value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.sizeInBytes")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Nullable&lt;System.Int64&gt;</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the size in bytes of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Validate">
      <MemberSignature Language="C#" Value="public virtual void Validate ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance void Validate() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Azure.Management.Automation.Models.Module.Validate" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Sub Validate ()" />
      <MemberSignature Language="F#" Value="abstract member Validate : unit -&gt; unit&#xA;override this.Validate : unit -&gt; unit" Usage="module.Validate " />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; override void Validate();" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; override void Validate();" />
      <MemberSignature Language="C++ WINRT" Value=" override void Validate();" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Void</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Validate the object.
            </summary>
        <remarks>To be added.</remarks>
        <exception cref="T:Microsoft.Rest.ValidationException">
            Thrown if validation fails
            </exception>
      </Docs>
    </Member>
    <Member MemberName="Version">
      <MemberSignature Language="C#" Value="public string Version { get; set; }" />
      <MemberSignature Language="ILAsm" Value=".property instance string Version" />
      <MemberSignature Language="DocId" Value="P:Microsoft.Azure.Management.Automation.Models.Module.Version" />
      <MemberSignature Language="VB.NET" Value="Public Property Version As String" />
      <MemberSignature Language="F#" Value="member this.Version : string with get, set" Usage="Microsoft.Azure.Management.Automation.Models.Module.Version" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; property System::String ^ Version { System::String ^ get(); void set(System::String ^ value); };" />
      <MemberSignature Language="C++ CX" Value="public:&#xA; property Platform::String ^ Version { Platform::String ^ get(); void set(Platform::String ^ value); };" />
      <MemberType>Property</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Azure.Management.Automation</AssemblyName>
        <AssemblyVersion>3.0.0.0</AssemblyVersion>
        <AssemblyVersion>3.0.1.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Newtonsoft.Json.JsonProperty(PropertyName="properties.version")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.String</ReturnType>
      </ReturnValue>
      <Docs>
        <summary>
            Gets or sets the version of the module.
            </summary>
        <value>To be added.</value>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>